{% load i18n mezzanine_tags staticfiles %}


{% block extra_js %}

{% endblock %}
{{payment}}
<!DOCTYPE html>
<html>
<head>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{% static "js/bootstrap.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
    <script src="{% static "js/bootstrap-extras.js" %}"></script>

	<meta charset="utf-8">
	<!-- pilipress::fb_admins -->
	<meta property="fb:admins" content="1484677847" />
	<meta property="fb:app_id" content="738631256291664" />
	<!-- /pilipress::fb_admins -->


</head>

<script type="text/javascript">

	window.fbAsyncInit = function() {
    FB.init({
      appId      : '738631256291664',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;

     js.src = "//connect.facebook.net/zh_TW/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<body>
	<div class="fb-comments" data-href="http://nicokim.cc/actoin/comment" data-width="100%" data-numposts="5"></div>
</body>
</html>