{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html prefix='og: http://ogp.me/ns#'>
<head>

<meta property="og:title" content="2017情人節告白活動，那對夫妻好禮送溫暖" ></meta>
<meta property="og:type" content="website" ></meta>
<meta property="og:description" content="妳 可以公主病 可以鬧脾氣 就讓我永遠守護妳" ></meta>
<meta property="og:image" content="http://nicokim.cc/static/img/banner2.jpg" ></meta>
<meta property="og:url" content="http://nicokim.cc" ></meta>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

<title>那對夫妻Nico & Kim</title>
<link href="{% static "css/reset.css"%}" rel="stylesheet" type="text/css" />
<link href="{% static "css/action.css"%}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "css/categorySlide.css"%}">
<script type="text/javascript" src="{% static "js/jquery-1.8.2.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/public.js"%}"></script>
<!--輪播專用 start
	<script src="{% static "js/amazingslider.js"%}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "js/amazingslider-1.css"%}">
	<script src="{% static "js/initslider-1.js"%}"></script>
輪播專用 End-->

<!--FB留言用 start-->
<!-- pilipress::fb_admins -->
  <meta property="fb:admins" content="1484677847" />
  <meta property="fb:app_id" content="738631256291664" />
  <!-- /pilipress::fb_admins -->
	<meta charset="utf-8">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '738631256291664',
      xfbml      : true,
      version    : 'v2.4'
    });

    var comment_onload = function(url, html_element) {
		console.log("comment_onload");
		console.log(url);
		console.log(html_element);
	}

	var comment_create = function(url, html_element) {
		console.log("comment_create");
		console.log(url);
		console.log(html_element);
		{% if request.user.is_authenticated %}
		$.ajax({
		  type: 'POST',
		  url: "/action/comment_post/",
		  data: JSON.stringify({"user":"{{request.user.id}}", "content":url.message, "comment_id":url.commentID, "href":url.href}),
		  success: function(data) {
		    console.log(data)
		  },
		  dataType: "json",
		  contentType: "application/json"
		});
		{% endif %}
	}

	// In your onload handler
	FB.Event.subscribe("xfbml.render", comment_onload);
	FB.Event.subscribe("comment.create", comment_create);
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "http://connect.facebook.net/zh_TW/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function fb_share() {
		//強制更新內容
		$.ajax({
		  type: 'GET',
		  url: "https://graph.facebook.com/?id=http://nicokim.cc&amp;scrape=true&amp;method=post",
		  success: function(data) {
		    console.log(data)
		    window.open('http://www.facebook.com/share.php?u='.concat(encodeURIComponent('http://nicokim.cc/')))
		  }
		});


	}


	//FB.Event.subscribe('edge.remove', page_like_or_unlike_callback);
</script>
<!--FB留言用 End-->
<!--a 錨點滑動 start-->
 <script>
   $(function () {
       $('a[href*=#]:not([href=#])').click(function() {
           var target = $(this.hash);
           $('html,body').animate({
               scrollTop: target.offset().top-100
           }, 1000);
           return false;
       });

   });
</script>
<!--a 錨點滑動 End-->
<!--左右滑動 start-->
	<link rel="stylesheet" href="{% static "css/demo.css"%}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static "css/flexslider.css"%}" type="text/css" media="screen" />
<!--左右滑動 End-->
<!--彈窗使用css js start-->
	<link rel="stylesheet" href="{% static "css/jquery.sweet-modal.min.css"%}" />
	<script src="{% static "js/jquery.sweet-modal.min.js"%}"></script>
<!--彈窗使用css js End-->
</head>
<body>
<div class="wrap">
	<header>
		<div class="logoBox">
			<a href="http://nicokim.cc" target="_blank"><img src="{% static "img/logo.png"%}" /></a>
			<div id="loginBox" {% if not request.user.is_authenticated %}style=
			"display:inline-block;"{% else %}style=
			"display:none;" {% endif %}>
				<a id="facebook_login" href="/account/facebook/login">登入</a>
			</div>
			<div id="logoutBox" {% if request.user.is_authenticated %}style=
			"display:inline-block;"{% else %}style=
			"display:none;" {% endif %}>
				<div class="loginBox">
					<div>
						<img src="{{pic_url}}" />
						<sapn class="dropdownIcon"></sapn>
					</div>
				</div>
				<div class="logoinMenu">
					<ul>
						<li><span class="fbUserName">{{name}}</span></li>
						<li><a href="/account/user_logout">登出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="tabs fixed show-tab dark" fixed-tabs="#tv-tabs" ng-class="{'show-tab' : showTabs}">
	  		<a href="#anchor1" class="tab">情人節活動</a>｜
	  		<a href="#anchor2" class="tab">單曲下載</a>｜
	  		<a href="#anchor3" class="tab">新書介紹</a>｜
	  		<a href="#anchor5" class="tab">關於我們</a>｜
	  		<a href="https://docs.google.com/forms/d/e/1FAIpQLSfRK3HhvN8ntjvBEZG2QL_a1E495G4y6k9EFByeJPnEHCgXZQ/viewform" target="_blank" class="tab">與我合作</a>
	  		<!--<a href="#anchor6" class="tab">社群</a>-->
		</div>
	</header>
	<div class="container" id="anchor1">
		<div class="mvEvent">
			<video controls poster="{% static "img/mvBanner.png"%}">
				<source src="https://s3-us-west-2.amazonaws.com/supermedianicokim/finale.mp4" type="video/mp4">
				<source src="https://s3-us-west-2.amazonaws.com/supermedianicokim/finale.ogg" type="video/ogg">
			</video>
			<!-- ＭＶ輪播 start-->
		    <!--<div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:600px;margin:0px auto 56px;">
		        <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
		            <ul class="amazingslider-slides" style="display:none;">
		                <!--<li><img src="{% static "img/banner.png"%}" alt="mv"  title="mv" />
		                </li>
		                <li><img src="{% static "img/7aZZ945rgVA.jpg"%}" />
		                <video preload="none" src="https://s3-us-west-2.amazonaws.com/supermedianicokim/finale.mp4" ></video>
		                </li>
		            </ul>
		            <ul class="amazingslider-thumbnails" style="display:none;">
		                <li><img src="{% static "img/mv-tn.png"%}" alt="mv" title="mv" /></li>
		                <li><img src="{% static "img/7aZZ945rgVA-tn.jpg"%}" /></li>
		            </ul>
		        <div class="amazingslider-engine"><a href="http://amazingslider.com" title="Responsive Slider jQuery">Responsive Slider jQuery</a></div>
		        </div>
		    </div>
		    ＭＶ輪播 End-->
		    <div class="visitEventBox">
		    	<div class="visitEventBoxTitle">
		    		<h2 class="actionTitle">2017情人節告白活動，那對夫妻好禮送溫暖</h2>
		    		<h6>妳 可以公主病 可以鬧脾氣 就讓我永遠守護妳</h6>
		    	</div>
		    	<!--<div class="actionMenu">
		    		<ul>
		    			<li><a href="">抽獎贈品</a> | </li>
		    			<li><a href="">活動辦法</a> | </li>
		    			<li><a href="#">活動時間</a> | </li>
		    			<li><a href="#" id="html-privacy">注意事項</a> | </li>
		    			<li><a href="" id="">開獎辦法</a></li>
		    		</ul>
		    	</div>-->
		    	<div class="actionBox">
		    		<div class="actionTitleBox">
		    			<h3><span class="colorBoxR"></span>活動期間</h3>
		    			<p>即日起～2016-02-28 23:59</p>
		    		</div>
		    		<div class="actionTitleBox">
		    			<h3><span class="colorBoxR"></span>開獎日期</h3>
		    			<p>2016-03-01</p>
		    		</div>
		    		<div class="visitEventBoxTxt">
			    		<h3 class="giftBoxTitle"><span class="colorBoxR"></span>抽獎贈品</h3>
			    		<!--giftBox start-->
						<div id="container" class="cf expertBox">
							<h3><a href="#"></a></h3>
							<div id="main" role="main">
							  <section class="slider expertCon">
								<div class="flexslider carousel expertArea">
								  <ul class="slides">
									<li>
										<a href="https://shopee.tw/nicokim.cc" target="_blank">
											<div class="experImg"><img src="{% static "img/A002.jpg"%}" /></div>
											<div class="giftNameBox">
												<h3>那對夫妻x山本富也禮盒</h3>
											</div>
											<div class="giftQuantityBox">
												<p>數量:2</p>
											</div>
										</a>
									</li>
									<li>
										<a href="https://www.momomall.com.tw/store/Main.jsp?entp_code=100107" target="_blank">
											<div class="experImg"><img src="{% static "img/A004.jpg"%}" /></div>
											<div class="giftNameBox">
												<h3>那對夫妻x奇檬子香氛洗衣精</h3>
											</div>
											<div class="giftQuantityBox">
												<p>數量:2</p>
											</div>
										</a>
									</li>
									<li>
										<div class="experImg"><img src="{% static "img/A005.png"%}" /></div>
										<div class="giftNameBox">
											<h3>那對夫妻x限量夫妻紅包袋</h3>
										</div>
										<div class="giftQuantityBox">
											<p>數量:100</p>
										</div>
									</li>
									<li>
										<div class="experImg"><img src="{% static "img/A006.png"%}" /></div>
										<div class="giftNameBox">
											<h3>那對夫妻x限量手機防水袋</h3>
										</div>
										<div class="giftQuantityBox">
											<p>數量:50</p>
										</div>
									</li>

								  </ul>
								</div>
							  </section>
							</div>
						</div>
						<!--giftBox End-->
			    	</div>
		    		<div class="actionTitleBox"><h3><span class="colorBoxR"></span>活動辦法</h3></div>
		    		<div class="actionTxtBox">
		    			<p>【那對夫妻】情人節甜蜜告白活動正式開跑囉！</p>
		    			<p>
		    				即日起只要參加那對夫妻官方網站活動就有機會抽得大獎！
		    			</p>
		    			<div class="step1">
		    				<h5>Step1.</h5>
			    			<p>
			    				<a href="/account/facebook/login">登入/註冊</a>成為那對夫妻網站會員。
			    			</p>
		    			</div>
		    			<div class="step2">
		    				<h5>Step2.</h5>
			    			<p>
			    				<a href="javascript: void(window.open('http://www.facebook.com/share.php?u='.concat(encodeURIComponent('http://nicokim.cc'))));"><img src="{% static "img/share.png"%}" width="60" style="margin:0px 5px;" /></a>分享此頁面，並設定公開。
			    			</p>
		    			</div>
		    			<div class="step3">
		    				<h5>Step3.</h5>
			    			<p>
			    				在活動頁面下方點留言TAG一位告白對象，留下甜蜜告白<br />
			    				(例:@陳小美 妳 可以公主病 可以鬧脾氣 就讓我永遠守護妳，情人節快樂)
			    			</p>
		    			</div>
		    			<div class="finishBox">
		    				<p>完成以上三個動作即可參加抽獎活動。</p>
		    				<p>詳細注意事項及開獎辦法請<a href="#" id="actionNotice">點此進入</a></p>
		    			</div>
		    		</div>
		    	</div>
		    	<div class="fb-comments" data-href="http://nicokim.cc/action/comment" data-width="100%" data-numposts="15">
        		</div>
		    </div>
		</div>
		<div class="musicBox" id="anchor2">
			<div class="musicBoxImg"><img src="{% static "img/0206.jpg"%}" /></div>
			<div class="musicBoxTxt">
				<h2>地表最強網紅家庭那對夫妻KIM</h2>
				<h3>單曲下載：</h3>
				<p>
					<a href="http://bit.ly/Nini-KKbox" target="_blank">KKbox</a> |
					<a href="http://bit.ly/Nini-Indievox" target="_blank">Indievox</a> |
					<a href="http://bit.ly/Nini-Omusic" target="_blank">Omusic</a> |
					<a href="http://bit.ly/Nini-myMusic" target="_blank">myMusix</a> |
					<a href="http://bit.ly/Nini-hmv" target="_blank">hmv</a> |
					<a href="http://bit.ly/Nini-Spotify" target="_blank">Spotify</a> |
					<a href="http://bit.ly/Nini-Xiami" target="_blank">虾米音乐</a> |
					<a href="http://bit.ly/Nini-163music" target="_blank">网易云音乐</a> |
					<a href="http://bit.ly/Nini-Baidu" target="_blank">百度音乐</a>
				</p>
				<div class="ringBoxTxt" style="margin-top:15px;"><h3>遠傳來電答鈴：</h3><a href="http://bit.ly/Nini-FETnet" target="_blank">點我下載</a></p></div>
				<!--<p>
					頂著最強網紅家庭的那對夫妻的KIM，之前參加過新光大道第一屆海選就被淘汰，還有眾多歌唱比賽也沒被選上，但一路上只有老婆NICO鼓勵他絕對不要放棄，現在KIM終於能如願出單曲並可供所有喜愛他們的人所下載了，KIM沒有什麼其他想法，只想說~老婆”我做到了”！「謝謝這一路上只有妳覺得我可以!而我最在意的，也永遠只有妳！」那對夫妻12年來始終互相扶持，讓人看到展現令人鶼鰈情深動容的一面。
				</p>-->

			</div>
		</div>
		<div class="bookBox" id="anchor3">
			<div class="bookBoxImg"><img src="{% static "img/FB.png"%}" /></div>
			<div class="bookBoxTxt">
				<h2>百萬台灣網紅【那對夫妻】出書了</h2>
				<p>百萬粉絲的台灣網紅「那對夫妻」出書了!平時FB上恩愛的影片受到廣大粉絲喜愛，這次他們將12年一路走來的點滴故事集結成冊，用網路力量來感動更多粉絲！
				</p>
				<!--<p>
					新書眾好友藝人大力推薦！ 「那對夫妻」FB粉專上的影片，已經是台灣民眾高壓生活的療癒小確幸，自然不做作的內容，搞笑又溫馨，十足台味的三口家庭，引起廣大鄉民的喜愛，快速傳播，半年內粉絲數衝破百萬！其中妮妮與夫Kim的放閃影片，更是號稱史上最強小三，沒有之一了。
				</p>
				<p>
					為了給長大後的妮妮一份愛的禮物，夫妻兩人特別打開塵封的愛情往事，從一見鍾情到妮妮出生，12年來的點點滴滴，義無反顧的出走、酸甜動人的相守、爆笑不斷的真實生活，詳細收錄在新書當中。其中Kim還特別作詞作曲一首歌曲，獻給老婆和妮妮，兩人也重遊舊地重拍婚紗、拍攝MV，再次感受心動的瞬間！新書的用心創作，更受到羅志祥、愷樂、黑人&范范的大力推薦！
				</p>-->
				<h3>購買通路：</h3>
				<!--<p style="font-size: 20px;font-weight: bold;">~妮可以公主病-平裝版~</p>-->
				<a href="http://bit.ly/LoveisAllTheseTinyLittleThings-paperback-books" target="_blank" >博客來</a>｜
				<a href="http://bit.ly/LoveisAllTheseTinyLittleThing-paperback-KingStone" target="_blank" >金石堂</a>｜
				<a href="http://bit.ly/LoveisAllTheseTinyLittleThings-paperback-eslite" target="_blank" >誠品</a>｜
				<a href="http://bit.ly/LoveisAllTheseTinyLittleThings-paperback-TAZZE" target="_blank" >讀冊生活</a>｜
				<a href="http://bit.ly/LoveisAllTheseTinyLittleThings-paperback-suncolor" target="_blank" >三采文化</a>｜
				<a href="http://www.suncolor.com.tw/Event/201701the-couple/index.html" target="_blank" >新書專屬區</a><br /><br />
				<h2>史上最強【那對夫妻】將於2/11國際書展來踢館了！</h2>
				<p>簽書會資訊如下:<br /><br />
					台北場：<br />
					02/11(六) 下午16：00<br />
					國際書展(世貿中心一館)三采攤位<br /><br />

					板橋場：<br />
					03/12(日) 下午15：00 <br />
					板橋大遠百一樓米蘭廣場<br /><br />

					高雄場：<br />
					03/19(日)下午14：00 <br />
					高雄金石堂左營店(環球百貨)二樓室內大廳<br /><br />

					台中場：<br />
					03/26(日)下午15：00 <br />
					台中大遠百一樓戶外場地<br />
				</p>
			</div>
		</div>
		<div class="bookBox" id="anchor4">
			<!--<div class="bookBoxImg"><img src="img/FB.png" /></div>-->
			<!--<div class="bookBoxTxt">
				<h2>史上最強【那對夫妻】將於2/11國際書展來踢館了！</h2>
				<p>簽書會資訊如下:<br /><br />
					台北場：<br />
					02/11(六) 下午16：00<br />
					國際書展(世貿中心一館)三采攤位<br /><br />

					板橋場：<br />
					03/12(日) 下午15：00 <br />
					板橋大遠百一樓米蘭廣場<br /><br />

					高雄場：<br />
					03/19(日)下午14：00 <br />
					高雄金石堂左營店(環球百貨)二樓室內大廳<br /><br />

					台中場：<br />
					03/26(日)下午15：00 <br />
					台中大遠百一樓戶外場地<br />
				</p>
			</div>-->
		</div>

		<div class="aboutBox" id="anchor5">
			<div class="aboutBoxImg"><img src="{% static "img/0221.jpg"%}" /></div>
			<div class="aboutBoxTxt">
				<h2>關於那對夫妻</h2>
				<p>
					【那對夫妻】Facebook粉絲團成立2015年，截至2017年2月粉絲人數逼近200萬 ，內容包括夫妻間（Nico品筠&Kim京燁 ）趣味對話、小朋友（妮妮）爆笑短片等，都是一些日常生活的片段。這些片段已經是台灣民眾高壓生活的療癒小確幸，自然不做作的內容，搞笑又溫馨，十足台味的三口家庭，引起廣大鄉民的喜愛，快速傳播，Facebook發布親子之間的逗趣影片，讓他們在記錄路中寫下，一年之內就衝到150萬粉絲數，2017年1月26日 那對夫妻單曲「妮妮」正式上線，2月2日 衝破KKBOX日榜冠軍，擠下Hebe田馥甄「當你」2月3日 衝破KKBOX總榜冠軍，擠下周杰倫「告白氣球」2月3當天晚上那對夫妻新書預購1500本精裝版15分鐘內秒殺，創下平均每0.6秒售出一本記錄，被媒體封為「地表最強網紅家庭」!
				</p>
			</div>
		</div>
		<!--<div class="shareBox" id="anchor6">
			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F1006nk%2F%3Ffref%3Dts&tabs&width=250&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId=1705033186453307" width="250" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%E9%82%A3%E5%B0%8D%E5%A4%AB%E5%A6%BB-Kim%E4%BA%AC%E7%87%81-1717090055218199%2F&tabs&width=250&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId=1705033186453307" width="250" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%E9%82%A3%E5%B0%8D%E5%A4%AB%E5%A6%BBNico%E5%93%81%E7%AD%A0-195295667610836%2F&tabs&width=250&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId=1705033186453307" width="250" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnimonicokim%2F&tabs&width=250&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId=1705033186453307" width="250" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			<div class="shareOther">
				<a href="http://bit.ly/2jdtTPs" target="_blank"><img src="{% static "img/youtube.png"%}"></a>
				<a href="http://goo.gl/LvaEid" target="_blank"><img src="{% static "img/IG.png"%}"></a>
				<a href="http://bit.ly/nikokimline"><img src="{% static "img/line.png"%}"></a>
				<a href="http://www.meipai.com/user/46678953" target="_blank"><img src="{% static "img/vedio.png"%}"></a>
				<a href="http://weibo.com/u/5525600359" target="_blank"><img src="{% static "img/weibo.png"%}"></a>
			</div>

		</div>-->
		<div class="bannerBox">
			<div class="bannerBoxImg"><a href="http://nicokim.cc" target="_blank"><img src="{% static "img/banner3.png"%}" /></a></div>
		</div>
	</div>
</div>
<footer> <p>© 設計：<a href="http://supermedia.cool" target="_blank">SUPER MEDIA</a> | 版權所有：<a href="http://nicokim.cc" target="_blank">那對夫妻</a></p></footer>
<!--giftBox start-->
	<script defer src="{% static "js/jquery.flexslider.js"%}"></script>
	<div id="fb-root"></div>
	<script type="text/javascript">
	$(window).load(function(){
    	$('.flexslider').flexslider({
	        animation: "slide",
	        animationLoop: true,
	        itemWidth: 150,
	        itemMargin: 20,
	        minItems: 2,
	        maxItems: 3,
			keyboardNav: true,
	        start: function(slider){
	          $('body').removeClass('loading');
	        }
      	});
    });
  	</script>
  	<!--giftBox End-->
</body>
</html>
