<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta property="og:url" content="http://www.your-domain.com/your-page.html" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Your Website Title" />
<meta property="og:description" content="Your description" />
<meta property="og:image" content="http://www.your-domain.com/path/image.jpg" />
<title>那對夫妻Nico & Kim</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/public.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/public.js"></script>
<!--輪播專用 start-->
	<script src="js/amazingslider.js"></script>
	<link rel="stylesheet" type="text/css" href="js/amazingslider-1.css">
	<script src="js/initslider-1.js"></script>
<!--輪播專用 End-->

<!--FB留言用 start-->
<!-- pilipress::fb_admins -->
  <meta property="fb:admins" content="1484677847" />
  <meta property="fb:app_id" content="738631256291664" />
  <!-- /pilipress::fb_admins -->
  <meta property="og:url" content="nicokim.cc/action/comment" />
  <meta property="og:title" content="Replace with Page Title" />
  <meta property="og:type" content="Website" />
  <meta property="og:description" content="Add Some description" />
  <meta property="og:image" content="Replace with some image 200px 200px" />

	<meta charset="utf-8">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '738631256291664',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "http://connect.facebook.net/zh_TW/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!--FB留言用 End-->
</head>
<body>
<div class="wrap">
	<header>
		<div class="logoBox"><a href="http://nicokim.cc" target="_blank"><img src="img/logo.png" /></a></div>
	</header>
	<div class="container">
		<div class="mvEvent">
			<!-- ＭＶ輪播 start-->
		    <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:600px;margin:0px auto 56px;">
		        <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
		            <ul class="amazingslider-slides" style="display:none;">
		                <li><img src="img/mv.png" alt="mv"  title="mv" />
		                </li>
		                <li><img src="img/7aZZ945rgVA.jpg" />
		                <video preload="none" src="https://www.youtube.com/embed/7aZZ945rgVA?v=7aZZ945rgVA" ></video>
		                </li>
		            </ul>
		            <ul class="amazingslider-thumbnails" style="display:none;">
		                <li><img src="img/mv-tn.png" alt="mv" title="mv" /></li>
		                <li><img src="img/7aZZ945rgVA-tn.jpg" /></li>
		            </ul>
		        <div class="amazingslider-engine"><a href="http://amazingslider.com" title="Responsive Slider jQuery">Responsive Slider jQuery</a></div>
		        </div>
		    </div>
		    <!-- ＭＶ輪播 End-->
		    <div class="visitEventBox">
		    	<div class="visitEventBoxTxt"><p>活動內容活動內容</p></div>
			    <div class="btnBox">
			    	<a class="visitBox">參加活動抽新書</a>
			    	<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2F1006nk%2F&layout=button_count&size=small&mobile_iframe=true&width=92&height=20&appId" width="100" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			    	<div class="fb-comments" data-href="http://nicokim.cc/action/comment" data-width="100%" data-numposts="15">

			    	</div>
			    </div>
		    </div>
		</div>
		<div class="ringBox">
			<div class="ringBoxImg"><a href="http://bit.ly/Nini-FETnet" target="_blank"><img src="img/mv.png" /></a></div>
		</div>
		<div class="musicBox">
			<div class="musicBoxImg"><img src="img/0213.jpg" /></div>
			<div class="musicBoxTxt">
				<h2>最強網紅家庭那對夫妻KIM，終於圓了單曲夢</h2>
				<h3>下載音樂：</h3>
				<p>
					<a href="http://bit.ly/Nini-Indievox" target="_blank">Indievox</a> |
					<a href="http://bit.ly/Nini-Omusic" target="_blank">Omusic</a> |
					<a href="http://bit.ly/Nini-myMusic" target="_blank">myMusix</a> |
					<a href="http://bit.ly/Nini-hmv" target="_blank">hmv</a> |
					<a href="http://bit.ly/Nini-Spotify" target="_blank">Spotify</a> |
					<a href="http://bit.ly/Nini-KKbox" target="_blank">KKbox</a> |
					<a href="http://bit.ly/Nini-Xiami" target="_blank">虾米音乐</a> |
					<a href="http://bit.ly/Nini-163music" target="_blank">网易云音乐</a> |
					<a href="http://bit.ly/Nini-Baidu" target="_blank">百度音乐</a>
				</p>
				<p>
					頂著最強網紅家庭的那對夫妻的KIM，之前參加過新光大道第一屆海選就被淘汰，還有眾多歌唱比賽也沒被選上，但一路上只有老婆NICO鼓勵他絕對不要放棄，現在KIM終於能如願出單曲並可供所有喜愛他們的人所下載了，KIM沒有什麼其他想法，只想說~老婆”我做到了”！「謝謝這一路上只有妳覺得我可以!而我最在意的，也永遠只有妳！」那對夫妻12年來始終互相扶持，讓人看到展現令人鶼鰈情深動容的一面。
				</p>
				</p>

			</div>
		</div>
		<div class="bookBox">
			<div class="bookBoxImg"><img src="img/FB.png" /></div>
			<div class="bookBoxTxt">
				<h2>百萬台灣網紅【那對夫妻】出書了</h2>
				<p>百萬粉絲的台灣網紅「那對夫妻」出書了!平時FB上恩愛的影片受到廣大粉絲喜愛，這次他們將12年一路走來的點滴故事集結成冊，用網路力量來感動更多粉絲！
				</p>
				<p>
					新書眾好友藝人大力推薦！ 「那對夫妻」FB粉專上的影片，已經是台灣民眾高壓生活的療癒小確幸，自然不做作的內容，搞笑又溫馨，十足台味的三口家庭，引起廣大鄉民的喜愛，快速傳播，半年內粉絲數衝破百萬！其中妮妮與夫Kim的放閃影片，更是號稱史上最強小三，沒有之一了。
				</p>
				<p>
					為了給長大後的妮妮一份愛的禮物，夫妻兩人特別打開塵封的愛情往事，從一見鍾情到妮妮出生，12年來的點點滴滴，義無反顧的出走、酸甜動人的相守、爆笑不斷的真實生活，詳細收錄在新書當中。其中Kim還特別作詞作曲一首歌曲，獻給老婆和妮妮，兩人也重遊舊地重拍婚紗、拍攝MV，再次感受心動的瞬間！新書的用心創作，更受到羅志祥、愷樂、黑人&范范的大力推薦！
				</p>
				<p style="font-size: 20px;font-weight: bold;">~妮可以公主病-平裝版~</p>
				<a href="http://bit.ly/LoveisAllTheseTinyLittleThings-paperback-books" target="_blank" >博客來</a>｜
				<a href="http://bit.ly/LoveisAllTheseTinyLittleThing-paperback-KingStone" target="_blank" >金石堂</a>｜
				<a href="http://bit.ly/LoveisAllTheseTinyLittleThings-paperback-eslite" target="_blank" >誠品</a>｜
				<a href="http://bit.ly/LoveisAllTheseTinyLittleThings-paperback-TAZZE" target="_blank" >讀冊生活</a>｜
				<a href="http://bit.ly/LoveisAllTheseTinyLittleThings-paperback-suncolor" target="_blank" >三采文化</a>｜
				<a href="http://www.suncolor.com.tw/Event/201701the-couple/index.html" target="_blank" >新書專屬區</a>
			</div>
		</div>

		<div class="aboutBox">
			<div class="aboutBoxImg"><img src="img/0213.jpg" /></div>
			<div class="aboutBoxTxt">
				<h2>關於那對夫妻</h2>
				<p>
					百萬粉絲的台灣網紅「那對夫妻」出書了!平時FB上恩愛的影片受到廣大粉絲喜愛，這次他們將12年一路走來的點滴故事集結成冊，用網路力量來感動更多粉絲！
				</p>
				<p>新書眾好友藝人大力推薦！ 「那對夫妻」FB粉專上的影片，已經是台灣民眾高壓生活的療癒小確幸，自然不做作的內容，搞笑又溫馨，十足台味的三口家庭，引起廣大鄉民的喜愛，快速傳播，半年內粉絲數衝破百萬！其中妮妮與夫Kim的放閃影片，更是號稱史上最強小三，沒有之一了。
				</p>

				<p>為了給長大後的妮妮一份愛的禮物，夫妻兩人特別打開塵封的愛情往事，從一見鍾情到妮妮出生，12年來的點點滴滴，義無反顧的出走、酸甜動人的相守、爆笑不斷的真實生活，詳細收錄在新書當中。其中Kim還特別作詞作曲一首歌曲，獻給老婆和妮妮，兩人也重遊舊地重拍婚紗、拍攝MV，再次感受心動的瞬間！新書的用心創作，更受到羅志祥、愷樂、黑人&范范的大力推薦！</p>
				</p>
			</div>
		</div>
		<div class="bannerBox">
			<div class="bannerBoxImg"><a href="http://nicokim.cc" target="_blank"><img src="img/mv.png" /></a></div>
		</div>
		<div class="shareBox">
			<!--這裡放相關社群-->
		</div>
	</div>
</div>
<!--<footer>copyright©那對夫妻nicokim.cc版權所有</footer>-->
</body>
</html>
