{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>roduct Details | Unify - Responsive Website Template</title>
<meta name="Keywords" content="那對夫妻">
<meta name="Description" content="那對夫妻">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
<!--匯入JSJQ -->
	<script src="{% static "js/jquery-1.8.2.min.js"%}"></script>
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/public.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/modernizr.js"%}"></script>
    <script src="{% static "js/headroom.js"%}"></script>
    <script src="{% static "js/jquery.menu-aim.js"%}"></script>
<!--匯入css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
<!--header隱藏css js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.js"></script>
    <style type="text/css">
		.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
		.headroom--unpinned {top: -100px;transform: translateY(-100%);}
		.headroom--pinned {transform: translateY(0%);z-index: 1;}
    }
	</style>
	<script type="text/javascript">
      	$("document").ready(function(){
     		 $("#header").headroom();
       	 });
    </script>
<!--header隱藏css js End-->

<!--header類別滑動效果 start-->
	<link rel="stylesheet" type="text/css" href="{% static "css/categorySlide.css"%}">
<!--header類別滑動效果 End-->
<!-- 輪播效果 start -->
	<script src="{% static "js/amazingslider.js"%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/amazingslider-1.css"%}">
    <script src="{% static "js/initslider-1.js"%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/amazingslider-2.css"%}">
    <script src="{% static "js/initslider-2.js"%}"></script>
<!-- 輪播效果 End -->

<!--輪播效果PC start-->
	<link rel="stylesheet" type="text/css" href="{% static "js/amazingslider-3.css"%}">
    <script src="{% static "js/initslider-3.js"%}"></script>
<!--輪播效果PC End-->

<!--分頁使用 start-->
	<link rel="stylesheet" href="{% static "css/jquery.paginate.css"%}" />
	<style>
		.paginate { padding: 0; margin: 0; }
		.paginate > li { list-style: none; padding: 10px 20px; border: 1px solid #ddd; margin: 10px 0; }
	</style>
<!--分頁 End-->
<!--撐開頁面使用 start-->
	<script src="{% static "js/minwt.auto_full_height.mini.js"%}"></script>
<!--撐開頁面使用 End-->

<!--FB.Line分享 start-->
	<script type="text/javascript">
		function share_facebook() {
			location.assign('https://www.facebook.com/share.php?u='+window.location.href);
	   	}
	   	function share_line() {
       		location.assign('http://line.naver.jp/R/msg/text/?'+window.location.href);
       	}
	</script>
<!--FB.Line分享 End-->
</head>
{% if not is_mobile %}
<body>
<link rel="stylesheet" type="text/css" href="{% static "css/mobile.css"%}">
<div class="" none="ture">
	<header class="header" _height="none">
		<article class="topnav">
			<div class="cd-dropdown-wrapper">
				<a class="cd-dropdown-trigger top" href="#0">
					<span></span>
				</a>
			</div>
			<div class="logo">
				<a href="/main/index">
					<img class="top_logo" src="{% static "img/thecouple_webpage_logo.png"%}">
				</a>
			</div>
		</article>
		<div class="tabs fixed show-tab dark abgne_tab" fixed-tabs="#tv-tabs" ng-class="{'show-tab' : showTabs}">
	  		<a href="/main/home?type=new" id="new" target="_self" class="tab {% if movie_type == 'new'%}active{% endif %}">最新發表</a>
	  		<a href="/main/home?type=hot" id="hot" target="_self" class="tab {% if movie_type == 'hot'%}active{% endif %}">熱門即時</a>
	  		<a href="/main/home?type=brand" id="brand" target="_self" class="tab {% if movie_type == 'brand'%}active{% endif %}">品牌合作</a>
	  		<a href="/main/home?type=kuso" id="kuso" target="_self" class="tab {% if movie_type == 'kuso'%}active{% endif %}">惡搞</a>
	  		<a href="/main/home?type=love" id="love" target="_self" class="tab {% if movie_type == 'love'%}active{% endif %}">放閃</a>
	  		<a href="/main/home?type=family" id="family" target="_self" class="tab {% if movie_type == 'family'%}active{% endif %}">親子家庭</a>
		</div>
	</header>
	<!--nav start-->
	<div class="cd-dropdown-wrapper">
		<!--<a class="cd-dropdown-trigger" href="#0">Dropdown</a>-->
		<nav class="cd-dropdown">
			<h2>那對夫妻</h2>
			<a href="#0" class="cd-close">Close</a>
			<ul class="cd-dropdown-content">
				<li>
					<form class="cd-search" method="get">
						<input type="search" placeholder="Search..." class="searchlnput_text">
						<input class="searchlnput_bnt" name="" type="submit" value="">
					</form>
				</li>
				{% if request.user.is_authenticated %}
					<li>
						<a href="/account/user_logout/">登出</a>
					</li>
				{% else%}
					<li>
						<a href="/main/login/">登入</a>
					</li>
				{% endif %}
				<li>
					<a href="/main/register/">註冊</a>
				</li>
				<li class="has-children">
					<a href="#">會員專區</a>
					<ul class="cd-secondary-dropdown is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li>
							<a href="/main/member/">會員資料</a>
						</li>
						<li>
							<a href="/main/change_password/">修改密碼</a>
						</li>
						<li>
							<a href="/main/order_record/">歷史訂購</a>
						</li>
						<li>
							<a href="/main/view_record/">商品瀏覽紀錄</a>
						</li>
						<li>
							<a href="/main/video_viewRecord/">影片瀏覽紀錄</a>
						</li>
						<li>
							<a href="/main/message_list/">信息通知</a>
						</li>
					</ul> <!-- .cd-secondary-dropdown -->
				</li> <!-- .has-children -->
			</ul> <!-- .cd-dropdown-content -->
		</nav> <!-- .cd-dropdown -->
	</div> <!-- .cd-dropdown-wrapper -->
	<!--nav End-->

	<div class="container_default shop grayBg" _height="auto">
		<!-- 輪播1 start -->
	    <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:1920px;margin:0px auto 0px;">
	        <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
	            <ul class="amazingslider-slides" style="display:none;">
	                <li><a href="productCon.html"><img src="{% static "img/001.png"%}" alt="001"  title="001" /></a>
	                </li>
	                <li><a href="productCon.html"><img src="{% static "img/002.png"%}" alt="002"  title="002" /></a>
	                </li>
	                <!--<li><img src="{% static "img/H60515r4PGQ.jpg"%}" />
	                <video preload="none" src="https://www.youtube.com/embed/H60515r4PGQ?v=H60515r4PGQ&list=PLH2b4YnNI7j0_bTKPQ74JsGAvdrkx16Fh" ></video>
	                </li>-->
	            </ul>
	            <ul class="amazingslider-thumbnails" style="display:none;">
	                <li><img src="{% static "img/001-tn.png"%}" alt="001" title="001" /></li>
	                <li><img src="{% static "img/002-tn.png"%}" alt="002" title="002" /></li>
	                <li><img src="{% static "img/H60515r4PGQ-tn.jpg"%}" /></li>
	            </ul>
	        <!--<div class="amazingslider-engine"><a href="http://amazingslider.com" title="Responsive jQuery Content Slider">Responsive jQuery Content Slider</a></div>
	        </div>-->
    	</div>
    <!-- 輪播1 End -->
    <!--即時熱門 start-->
		<div class="area1Box">
			<div id="triangle"></div>
			<div class="area1Title"><h1>即時熱門</h1></div>
			<div class="area1Cont">
				<ul>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/001.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/002.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/003.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/004.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
     <!--即時熱門 End-->
     <!--最新影片 start-->
		<div class="area2Box">
			<div id="triangle"></div>
			<div class="area2Title"><h1>最新影片</h1><span>>更多</span></div>
			<div class="area2Cont">
				<ul>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/video001.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/001.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/002.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/003.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/004.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
     <!--最新影片 End-->
     <!--品牌合作 start-->
		<div class="area2Box">
			<div id="triangle"></div>
			<div class="area2Title"><h1>品牌合作</h1><span>>更多</span></div>
			<div class="area2Cont">
				<ul>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/video001.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/001.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/002.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/003.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/004.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
     <!--品牌合作 End-->
     <!--夫妻嚴選 start-->
		<div class="area3Box">
			<div id="triangle"></div>
			<div class="area3Title"><h1>夫妻嚴選</h1><span>>更多</span></div>
			<div class="area3Cont">
				<ul>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/product001.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
								 <h6>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h6>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/product002.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
								 <h6>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h6>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
     <!--夫妻嚴選 End-->
	</div>
	<div class="under-nav" style="display: block;">
	    <ul>
		     <li><a href="#"><img src="{% static "img/index.png"%}" width="40" /></a><p>首頁</p></li>
		    <li><a href="#"><img src="{% static "img/cartIcon.png"%}" width="40" /></a><p>夫妻嚴選</p></li>
		    <li><a href="/main/index_video"><img src="{% static "img/videoActive.png"%}"  width="40" /></a><p class="active">影音專區</p></li>
		    <li><a href="#"><img src="{% static "img/aboutIcon.png"%}" width="40" /></a><p>關於我們</p></li>
	    </ul>
	</div>
	<footer _height="none">
		<script src="{% static "js/mFooter.js"%}"></script>
	</footer>
	<div style="height:40px;"></div>
	<!--分頁功能
	<script src="js/jquery.paginate.js"></script>
	<script>
		//call paginate
		$('#example').paginate({

		  // how many items per page
		  perPage:                2,

		  // boolean: scroll to top of the container if a user clicks on a pagination link
		  autoScroll:             true,

		  // which elements to target
		  scope:                  '',

		  // defines where the pagination will be displayed
		  paginatePosition:       ['bottom'],

		  // Pagination selectors
		  containerTag:           'nav',
		  paginationTag:          'ul',
		  itemTag:                'li',
		  linkTag:                'a',

		  // Determines whether or not the plugin makes use of hash locations
		  useHashLocation:        true,

		  // Triggered when a pagination link is clicked
		  onPageClick:            function() {}

		});

	</script>
	-->
</div>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36251023-1']);
	  _gaq.push(['_setDomainName', 'jqueryscript.net']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
{% else %}
<body>
	<div class="pWrap">
		<header class="pHeader">
			<script src="{% static "js/pHeader.js"%}"></script>
		</header>
		<nav class="pNavBox">
			<script src="{% static "js/pNav.js"%}"></script>
		</nav>
		<article>
			<div class="sliderBox">
				<!-- Insert to your webpage where you want to display the slider -->
			    <div id="amazingslider-wrapper-3" style="display:block;position:relative;max-width:1024px;margin:0px auto 56px;">
			        <div id="amazingslider-3" style="display:block;position:relative;margin:0 auto;">
			            <ul class="amazingslider-slides" style="display:none;">
			                <li><img src="{% static "img/0011.png"%}" alt="001"  title="001" data-texteffect="None" />
			                </li>
			                <li><img src="{% static "img/rJNqOQk8lcs.jpg"%}" />
			                <video preload="none" src="https://www.youtube.com/embed/rJNqOQk8lcs?v=rJNqOQk8lcs" ></video>
			                </li>
			                <li><img src="{% static "img/SaQp7IW7MDA.jpg"%}" />
			                <video preload="none" src="https://www.youtube.com/embed/SaQp7IW7MDA?v=SaQp7IW7MDA" ></video>
			                </li>
			                <li><img src="{% static "img/0011.png"%}" alt="001"  title="001" />
			                </li>
			                <li><img src="{% static "img/0011.png"%}" alt="001"  title="001" />
			                </li>
			            </ul>
			            <ul class="amazingslider-thumbnails" style="display:none;">
			                <li><img src="{% static "img/001-tn1.png"%}" alt="001" title="001" /></li>
			                <li><img src="{% static "img/rJNqOQk8lcs-tn.jpg"%}" /></li>
			                <li><img src="{% static "img/SaQp7IW7MDA-tn.jpg"%}" /></li>
			                <li><img src="{% static "img/001-tn1.png"%}" alt="001" title="001" /></li>
			                <li><img src="{% static "img/001-tn1.png"%}" alt="001" title="001" /></li>
			            </ul>
			        <div class="amazingslider-engine"><a href="http://amazingslider.com" title="Responsive JavaScript Image Slider">Responsive JavaScript Image Slider</a></div>
			        </div>
			    </div>
			    <!-- End of body section HTML codes -->
			</div>
			<div class="videoLR">
				<div class="pVideoLeft">
					<div class="pVideoPub">
						<div class="pVideoPubBox">
							<h2 class="pVideoPubTit"><span class="pBoxPink"></span>最新發表</h2>
						</div>
						<div class="pVideoPubCon">
							<ul class="pVideoPubDet">
								<li class="pVideoPubItem">
									<div class="pVideoPubImg"><img src="{% static "img/001.png"%}" width="330" /></div>
									<span class="pVideoPubSubtitle">最近爸爸不敢去公園</span>
								</li>
								<li class="pVideoPubItem">
									<div class="pVideoPubImg"><img src="{% static "img/002.png"%}" width="330" /></div>
									<span class="pVideoPubSubtitle">在意爸爸情緒的妮妮</span>
								</li>
								<li class="pVideoPubItem">
									<div class="pVideoPubImg"><img src="{% static "img/003.png"%}" width="330" /></div>
									<span class="pVideoPubSubtitle">下個暴風雪</span>
								</li>
								<li class="pVideoPubItem">
									<div class="pVideoPubImg"><img src="{% static "img/004.png"%}" width="330" /></div>
									<span class="pVideoPubSubtitle">豪華郵輪之旅</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="pVideoHot">
						<div class="pVideoPub">
							<div class="pVideoPubBox">
								<h2 class="pVideoPubTit"><span class="pBoxPink"></span>即時熱門</h2>
							</div>
							<div class="pVideoPubCon">
								<ul class="pVideoPubDet">
									<li class="pVideoPubItem">
										<div class="pVideoPubImg"><img src="{% static "img/001.png"%}" width="330" /></div>
										<span class="pVideoPubSubtitle">最近爸爸不敢去公園</span>
									</li>
									<li class="pVideoPubItem">
										<div class="pVideoPubImg"><img src="{% static "img/002.png"%}" width="330" /></div>
										<span class="pVideoPubSubtitle">在意爸爸情緒的妮妮</span>
									</li>
									<li class="pVideoPubItem">
										<div class="pVideoPubImg"><img src="{% static "img/003.png"%}" width="330" /></div>
										<span class="pVideoPubSubtitle">下個暴風雪</span>
									</li>
									<li class="pVideoPubItem">
										<div class="pVideoPubImg"><img src="{% static "img/004.png"%}" width="330" /></div>
										<span class="pVideoPubSubtitle">豪華郵輪之旅</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="pVideoPub">
							<div class="pVideoPubBox">
								<h2 class="pVideoPubTit"><span class="pBoxPink"></span>品牌合作</h2>
							</div>
							<div class="pVideoPubCon">
								<ul class="pVideoPubDet">
									<li class="pVideoPubItem">
										<div class="pVideoPubImg"><img src="{% static "img/001.png"%}" width="330" /></div>
										<span class="pVideoPubSubtitle">最近爸爸不敢去公園</span>
									</li>
									<li class="pVideoPubItem">
										<div class="pVideoPubImg"><img src="{% static "img/002.png"%}" width="330" /></div>
										<span class="pVideoPubSubtitle">在意爸爸情緒的妮妮</span>
									</li>
									<li class="pVideoPubItem">
										<div class="pVideoPubImg"><img src="{% static "img/003.png"%}" width="330" /></div>
										<span class="pVideoPubSubtitle">下個暴風雪</span>
									</li>
									<li class="pVideoPubItem">
										<div class="pVideoPubImg"><img src="{% static "img/004.png"%}" width="330" /></div>
										<span class="pVideoPubSubtitle">豪華郵輪之旅</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
					<!--<div class="pVideoHot">
						<div class="pVideoHotBox">
							<h2 class="pVideoHotTit"><span class="pBoxPink"></span>品牌合作</h2>
						</div>
						<div class="pVideoHotCon">
							<ul class="pVideoHotDet">
								<li class="pVideoHotItem">
									<div class="pVideoHotImg"><img src="{% static "img/001.png"%}" width="710" /></div>
									<span class="pVideoHotSubtitle">最近爸爸不敢去公園</span>
								</li>
								<li class="pVideoHotItem mr10">
									<div class="pVideoPubImg"><img src="{% static "img/002.png"%}" width="215" /></div>
									<span class="pVideoHotSubtitle">在意爸爸情緒的妮妮</span>
								</li>
								<li class="pVideoHotItem mr10">
									<div class="pVideoPubImg"><img src="{% static "img/003.png"%}" width="215" /></div>
									<span class="pVideoHotSubtitle">下個暴風雪</span>
								</li>
								<li class="pVideoHotItem">
									<div class="pVideoPubImg"><img src="{% static "img/004.png"%}" width="215" /></div>
									<span class="pVideoHotSubtitle">豪華郵輪之旅</span>
								</li>
							</ul>
						</div>
					</div>-->


				<!--right start-->
				<div class="pRelatedRight">
					<div class="iconLinks">
						<div class="iconLinksBox">
							<div class="iconLinksTit"><h2><i class="fa fa-link" aria-hidden="true"></i>相關社群</h2></div>
						</div>
						<div class="iconLinksCon">
							<ul>
								<li><a href="http://bit.ly/NicoKim" target="_blank"><img src="{% static "img/fb_share.png"%}"></a></li>
								<li><a href="http://bit.ly/2jdtTPs" target="_blank"><img src="{% static "img/youtube.png"%}"></a></li>
								<li><a href="http://goo.gl/LvaEid" target="_blank"><img src="{% static "img/IG.png"%}"></a></li>
								<li><a href="http://bit.ly/nikokimline"><img src="{% static "img/line1.png"%}"></a></li>
								<li><a href="http://www.meipai.com/user/46678953" target="_blank"><img src="{% static "img/vedio.png"%}"></a></li>
								<li><a href="http://weibo.com/u/5525600359" target="_blank"><img src="{% static "img/weibo.png"%}"></a></li>
							</ul>
							<div style="margin-bottom:15px;">
							<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F1006nk%2F&tabs&width=300&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=1705033186453307" width="300" height="130" style="border:none;overflow:hidden;margin-bottom:10px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
							<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FKim%25E4%25BA%25AC%25E7%2587%2581-1717090055218199%2F&tabs&width=300&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=1705033186453307" width="300" height="130" style="border:none;overflow:hidden;margin-bottom:10px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
							<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNico%25E5%2593%2581%25E7%25AD%25A0-195295667610836%2F&tabs&width=300&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=1705033186453307" width="300" height="130" style="border:none;overflow:hidden;margin-bottom:10px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
							<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnimonicokim%2F&tabs&width=300&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=1705033186453307" width="300" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
						</div>
						</div>
					</div>
					<div class="musicPlatform">
						<div class="musicPlatformBox">
							<div class="musicPlatformTit"><h2><i class="fa fa-link" aria-hidden="true"></i>數位平台</h2></div>
						</div>
						<div class="musicPlatformCon">
							<ul>
								<li class="musicPlatformItem"><a href="http://bit.ly/Nini-KKbox" target="_blank">KKbox</a></li> |
								<li class="musicPlatformItem"><a href="https://itun.es/tw/DzFVhb" target="_blank">iTunes</a></li> |
								<li class="musicPlatformItem"><a href="http://bit.ly/Nini-Indievox" target="_blank">Indievox</a></li> |
								<li class="musicPlatformItem"><a href="http://bit.ly/Nini-Omusic" target="_blank">Omusic</a></li> |
								<li class="musicPlatformItem"><a href="http://bit.ly/Nini-hmv" target="_blank">hmv</a></li> |
								<li class="musicPlatformItem"><a href="http://bit.ly/Nini-myMusic" target="_blank">myMusix</a></li> |
								<li class="musicPlatformItem"><a href="http://bit.ly/Nini-Spotify" target="_blank">Spotify</a></li> |
								<li class="musicPlatformItem"><a href="http://bit.ly/Nini-Xiami" target="_blank">虾米音乐</a></li> |
								<li class="musicPlatformItem"><a href="http://bit.ly/Nini-163music" target="_blank">网易云音乐</a></li> |
								<li class="musicPlatformItem"><a href="http://bit.ly/Nini-Baidu" target="_blank">百度音乐</a></li>
							</ul>
						</div>
					</div>
					<div class="musicPlatform">
						<div class="musicPlatformBox">
							<div class="musicPlatformTit"><h2><i class="fa fa-link" aria-hidden="true"></i>來電答鈴</h2></div>
						</div>
						<div class="musicPlatformCon">
							<ul>
								<li class="musicPlatformItem"><a href="http://bit.ly/Nini-FET" target="_blank">遠傳</a></li> |
								<li class="musicPlatformItem"><a href="http://colorring.qma.com/crbt/pages/mb/main.jsp" target="_blank">亞太</a></li> |
								<li class="musicPlatformItem"><a href="http://bit.ly/Nini-emome" target="_blank">中華</a></li> |
								<li class="musicPlatformItem"><a href="http://bit.ly/Nini-Taiwanmobile" target="_blank">台灣大哥大</a></li> |
								<li class="musicPlatformItem"><a href="http://bit.ly/Nini-Tstar" target="_blank">台灣之星</a></li>
							</ul>
						</div>
					</div>
					<div class="bookPlatform">
						<div class="bookPlatformBox">
							<div class="bookPlatformTit"><h2><i class="fa fa-link" aria-hidden="true"></i>書本購買</h2></div>
						</div>
						<div class="bookPlatformCon">
							<ul>
								<li class="bookPlatformItem"><a href="http://bit.ly/LoveisAllTheseTinyLittleThings-paperback-books" target="_blank">博客來</a></li> |
								<li class="bookPlatformItem"><a href="http://bit.ly/LoveisAllTheseTinyLittleThing-paperback-KingStone" target="_blank">金石堂</a></li> |
								<li class="bookPlatformItem"><a href="http://bit.ly/LoveisAllTheseTinyLittleThings-paperback-eslite" target="_blank">誠品</a></li> |
								<li class="bookPlatformItem"><a href="http://bit.ly/LoveisAllTheseTinyLittleThings-paperback-TAZZE" target="_blank">讀冊生活</a></li> |
								<li class="bookPlatformItem"><a href="http://bit.ly/LoveisAllTheseTinyLittleThings-paperback-suncolor" target="_blank">三采文化</a></li> |
								<li class="bookPlatformItem"><a href="http://www.suncolor.com.tw/Event/201701the-couple/index.html" target="_blank">新書專屬區</a></li>
							</ul>
						</div>
					</div>
					<div class="bookPlatform">
						<div class="bookPlatformBox">
							<div class="bookPlatformTit"><h2><i class="fa fa-link" aria-hidden="true"></i>與我合作</h2></div>
						</div>
						<div class="bookPlatformCon">
							<ul>
								<li class="bookPlatformItem"><a href="#">與我合作</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</article>

		<footer class="pFooter">
			<script src="{% static "js/pFooter.js"%}"></script>
		</footer>
	</div>

</body>

{% endif %}