{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>roduct Details | Unify - Responsive Website Template</title>
<meta name="Keywords" content="那對夫妻">
<meta name="Description" content="那對夫妻">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
<!--匯入JSJQ -->
	<script src="{% static "js/jquery-1.8.2.min.js"%}"></script>
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/public.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/modernizr.js"%}"></script>
    <script src="{% static "js/headroom.js"%}"></script>
<!--匯入css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
<!--header隱藏css js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.js"></script>
    <style type="text/css">
		.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
		.headroom--unpinned {top: -100px;transform: translateY(-100%);}
		.headroom--pinned {transform: translateY(0%);z-index: 1;}
    }
	</style>
	<script type="text/javascript">
      	$("document").ready(function(){
     		 $("#header").headroom();
       	 });
    </script>

<!--header隱藏css js End-->

<!--header類別滑動效果 start-->
	<link rel="stylesheet" type="text/css" href="{% static "css/categorySlide.css"%}">
<!--header類別滑動效果 End-->
<!-- 輪播效果 start
	<script src="{% static "js/amazingslider.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/amazingslider-1.css">
    <script src="{% static "js/initslider-1.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/amazingslider-2.css">
    <script src="{% static "js/initslider-2.js"></script>
輪播效果 End -->

<!--分頁使用 start-->
	<link rel="stylesheet" href="{% static "css/jquery.paginate.css"%}" />
	<style>
		.paginate { padding: 0; margin: 0; }
		.paginate > li { list-style: none; padding: 10px 20px; border: 1px solid #ddd; margin: 10px 0; }
	</style>
<!--分頁 End-->
<!--撐開頁面使用 start-->

<!--撐開頁面使用 End-->
</head>

<body>
<div class="" none="ture">
	<header class="header" _height="none">
		<article class="topnav">
			<div class="cd-dropdown-wrapper">
				<a class="cd-dropdown-trigger top" href="#0">
					<span></span>
				</a>
			</div>
			<div class="logo">
				<a href="/index.html">
					<img class="top_logo" src="{% static "img/thecouple_webpage_logo.png"%}">
				</a>
			</div>
		</article>
		<div class="tabs fixed show-tab dark abgne_tab" fixed-tabs="#tv-tabs" ng-class="{'show-tab' : showTabs}">
	  		<a href="＃" target="_self" class="tab active">搞笑互整</a>
	  		<a href="＃" target="_self" class="tab">精選內容</a>
	  		<a href="＃" target="_self" class="tab">熱門點擊</a>
	  		<a href="＃" target="_self" class="tab">溫馨家庭</a>
	  		<a href="＃" target="_self" class="tab">最強小三</a>
		</div>
	</header>
	<!--nav start-->
	<div class="cd-dropdown-wrapper">
		<!--<a class="cd-dropdown-trigger" href="#0">Dropdown</a>-->
		<nav class="cd-dropdown">
			<h2>那對夫妻</h2>
			<a href="#0" class="cd-close">Close</a>
			<ul class="cd-dropdown-content">
				<li>
					<form class="cd-search" method="get">
						<input type="search" placeholder="Search..." class="searchlnput_text">
						<input class="searchlnput_bnt" name="" type="submit" value="">
					</form>
				</li>
				<li>
					<a href="login.html">登入</a>
				</li>
				<li style="display: none;">
					<a href="#">登出</a>
				</li>
				<li>
					<a href="register.html">註冊</a>
				</li>
				<li class="has-children">
					<a href="#">會員專區</a>
					<ul class="cd-secondary-dropdown is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li>
							<a href="member.html">會員資料</a>
						</li>
						<li>
							<a href="changePassword.html">修改密碼</a>
						</li>
					</ul> <!-- .cd-secondary-dropdown -->
				</li> <!-- .has-children -->
			</ul> <!-- .cd-dropdown-content -->
		</nav> <!-- .cd-dropdown -->
	</div> <!-- .cd-dropdown-wrapper -->
	<!--nav End-->

	<div class="container_default" _height="auto">

    <div class="videoBox">
	    <div class="video-contBox">
			<!--<iframe src="https://www.youtube.com/embed/N1s6lzxTjIc" type="text/html" width="800" height="450" frameborder="0">
			</iframe>-->
			<a href="../videoDetails"><img src="{% static "img/0001.png"%}"></a>
			<div class="videoTitleTxt">
			<h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
			<!--<h6>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h6>-->
		</div>
		</div>

	</div>
	<div class="videoBox1">
		<ul class="videoCont" id="box" >
			<li class="box">
				<a href="../videoDetails">
					<div class="videoContImg">
						<img src="{% static "img/001.png"%}">
					</div>
					<div class="videoTitleTxtBox">
						<!--<h4><i class="fa fa-clock-o" aria-hidden="true"></i>
							<span>2017/02/06</span>
						</h4>-->
						 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
						 <!--<h6>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h6>-->
					</div>
				</a>
			</li>
			<li class="box">
				<a href="../videoDetails">
					<div class="videoContImg">
						<img src="{% static "img/002.png"%}">
					</div>
					<div class="videoTitleTxtBox">
						<!--<h4><i class="fa fa-clock-o" aria-hidden="true"></i>
							<span>2017/02/06</span>
						</h4>-->
						 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
						 <!--<h6>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h6>-->
					</div>
				</a>
			</li>
			<li class="box">
				<a href="../videoDetails">
					<div class="videoContImg">
						<img src="{% static "img/003.png"%}">
					</div>
					<div class="videoTitleTxtBox">
						<!--<h4><i class="fa fa-clock-o" aria-hidden="true"></i>
							<span>2017/02/06</span>
						</h4>-->
						 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
						 <!--<h6>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h6>-->
					</div>
				</a>
			</li>
			<li class="box">
				<a href="../videoDetails">
					<div class="videoContImg">
						<img src="{% static "img/004.png"%}">
					</div>
					<div class="videoTitleTxtBox">
						<!--<h4><i class="fa fa-clock-o" aria-hidden="true"></i>
							<span>2017/02/06</span>
						</h4>-->
						 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
						 <!--<h6>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h6>-->
					</div>
				</a>
			</li>
		</ul>
	</div>
    <!--分頁 start
    <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination"></ul>
    </nav>-->
    <!--分頁 End-->

	</div>
	<div class="under-nav" style="display: block;">
	    <a href="#"><img src="{% static "img/home.png"%}" width="40" /></a>
	    <a href="#"><img src="{% static "img/cart.png"%}" width="40" /></a>
	    <a href="#"><img src="{% static "img/videoActive.png"%}" width="40" /></a>
	    <a href="#"><img src="{% static "img/about.png"%}" width="40" /></a>
	</div>
	<footer _height="none">
		<ul>
			<li>copyright©那對夫妻nicokim.cc版權所有</li>
		</ul>
	</footer>
	<div style="height:45px;"></div>
</div>
	<script src="{% static "js/jquery.menu-aim.js"%}"></script>
	<!--分頁功能
	<script src="{% static "js/jquery.paginate.js"%}"></script>
	<script>
		//call paginate
		$('#example').paginate({

		  // how many items per page
		  perPage:                2,

		  // boolean: scroll to top of the container if a user clicks on a pagination link
		  autoScroll:             true,

		  // which elements to target
		  scope:                  '',

		  // defines where the pagination will be displayed
		  paginatePosition:       ['bottom'],

		  // Pagination selectors
		  containerTag:           'nav',
		  paginationTag:          'ul',
		  itemTag:                'li',
		  linkTag:                'a',

		  // Determines whether or not the plugin makes use of hash locations
		  useHashLocation:        true,

		  // Triggered when a pagination link is clicked
		  onPageClick:            function() {}

		});

	</script>
	-->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36251023-1']);
	  _gaq.push(['_setDomainName', 'jqueryscript.net']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<!--瀑布流使用 start-->
	<!--<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>-->
	<!--<script>
	$(document).ready(function() {
    var data = {"data": [
	            { "src": "https://www.youtube.com/embed/lsTc5MlDsPQ" }, { "src": "https://www.youtube.com/embed/9xQ0JfFokJI" }, { 	"src": "https://www.youtube.com/embed/5_YESjKcJhU" }, { "src": "https://www.youtube.com/embed/CIphsxAPc5U" }, { "src": "https://www.youtube.com/embed/WmfLns0OA-c" }, { "src": "https://www.youtube.com/embed/CIphsxAPc5U" },{ "src": "https://www.youtube.com/embed/CIphsxAPc5U" }
	        ]};
	        var str = "";
	         for(var i = 0; i < data.data.length; i++) {
	        	var templ = "<li class=\"box\"> <div class=\"video-container\"> <iframe src=" +data.data[i]['src']+ " type=\"text/html\" width=\"800\" height=\"450\" frameborder=\"0\"></iframe> </div> <div class=\"videoTitleTxt\"> <h4><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i><span>2017/02/06</span></h4> <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2> <h6>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h6></div></li>"
	        	$("#box").append(templ);
	        }
		});
	</script>-->
	<!--瀑布流使用 End-->
</body>