{% load staticfiles %}
{% load main_tags %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>roduct Details | Unify - Responsive Website Template</title>
<meta name="Keywords" content="那對夫妻">
<meta name="Description" content="那對夫妻">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
<!--匯入JSJQ -->
	<script src="{% static "js/jquery-1.8.2.min.js"%}"></script>
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/public.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/modernizr.js"%}"></script>
    <script src="{% static "js/headroom.js"%}"></script>
    <script src="{% static "js/jquery.menu-aim.js"%}"></script>
<!--匯入css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
<!--header隱藏css js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.js"></script>
    <style type="text/css">
		.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
		.headroom--unpinned {top: -100px;transform: translateY(-100%);}
		.headroom--pinned {transform: translateY(0%);z-index: 1;}
    }
	</style>
	<!--<script type="text/javascript">
	var start_show = 2;
      	$("document").ready(function(){

     		 $("#header").headroom();
     		 $(window).scroll(function(){
				  // Returns height of browser viewport
				  var window_height = $( window ).height();

				  var window_scrollTop = $(window).scrollTop();

				  // Returns height of HTML document
				  var document_height = $( document ).height();

				  console.log(window_height + window_scrollTop);
				  console.log(document_height);

				   if(window_height + window_scrollTop + 30> document_height){
				   		var result = start_show-1;
				   		$("#message_"+result.toString()).hide(100)
				   		$("#video_"+start_show).show(500)
				   		start_show += 1;
				   }

			});
       	 });
    </script>-->

<!--header隱藏css js End-->



<!--header類別滑動效果 start-->
	<link rel="stylesheet" type="text/css" href="{% static "css/categorySlide.css"%}">
<!--header類別滑動效果 End-->
<!-- 輪播效果 start
	<script src="{% static "js/amazingslider.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/amazingslider-1.css">
    <script src="{% static "js/initslider-1.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/amazingslider-2.css">
    <script src="{% static "js/initslider-2.js"></script>
輪播效果 End -->

<!--分頁使用 start-->
	<link rel="stylesheet" href="{% static "css/jquery.paginate.css"%}" />
	<style>
		.paginate { padding: 0; margin: 0; }
		.paginate > li { list-style: none; padding: 10px 20px; border: 1px solid #ddd; margin: 10px 0; }
	</style>
<!--分頁 End-->
<!--撐開頁面使用 start-->

<!--撐開頁面使用 End-->
</head>
{% if not is_mobile %}
<body>
<link rel="stylesheet" type="text/css" href="{% static "css/mobile.css"%}">
<div class="" none="ture">
	<header class="header" _height="none" style="height:100px;">
		<script src="{% static "js/mHeader.js"%}"></script>
		<div class="tabs fixed show-tab dark abgne_tab" fixed-tabs="#tv-tabs" ng-class="{'show-tab' : showTabs}">
	  		<a href="/main/index_video?type=new" id="new" target="_self" class="tab {% if movie_type == 'new'%}active{% endif %}">最新發表</a>
	  		<a href="/main/index_video?type=hot" id="hot" target="_self" class="tab {% if movie_type == 'hot'%}active{% endif %}">熱門即時</a>
	  		<a href="/main/index_video?type=brand" id="brand" target="_self" class="tab {% if movie_type == 'brand'%}active{% endif %}">品牌合作</a>
	  		<a href="/main/index_video?type=kuso" id="kuso" target="_self" class="tab {% if movie_type == 'kuso'%}active{% endif %}">惡搞</a>
	  		<a href="/main/index_video?type=love" id="love" target="_self" class="tab {% if movie_type == 'love'%}active{% endif %}">放閃</a>
	  		<a href="/main/index_video?type=family" id="family" target="_self" class="tab {% if movie_type == 'family'%}active{% endif %}">親子家庭</a>
		</div>
	</header>
	<!--nav start-->
	<div class="cd-dropdown-wrapper" style="display:inline-block;">
		<!--<a class="cd-dropdown-trigger" href="#0">Dropdown</a>-->
		<nav class="cd-dropdown">
			<h2>那對夫妻</h2>
			<a href="#0" class="cd-close">Close</a>
			<ul class="cd-dropdown-content">
				<li>
					<form class="cd-search" method="get">
						<input type="search" placeholder="Search..." class="searchlnput_text">
						<input class="searchlnput_bnt" name="" type="submit" value="">
					</form>
				</li>
				{% if request.user.is_authenticated %}
					<li>
						<a href="/account/user_logout/">登出</a>
					</li>
				{% else%}
					<li>
						<a href="/main/login/">登入</a>
					</li>
				{% endif %}
				<li>
					<a href="/main/register/">註冊</a>
				</li>
				<li class="has-children">
					<a href="#">會員專區</a>
					<ul class="cd-secondary-dropdown is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li>
							<a href="/main/member/">會員資料</a>
						</li>
						<li>
							<a href="/main/change_password/">修改密碼</a>
						</li>
						<!--<li>
							<a href="/main/order_record/">歷史訂購</a>
						</li>
						<li>
							<a href="/main/view_record/">商品瀏覽紀錄</a>
						</li>-->
						<li>
							<a href="/main/video_viewRecord/">影片瀏覽紀錄</a>
						</li>
						<li>
							<a href="/main/message_list/">信息通知</a>
						</li>
					</ul> <!-- .cd-secondary-dropdown -->
				</li> <!-- .has-children -->
			</ul> <!-- .cd-dropdown-content -->
		</nav> <!-- .cd-dropdown -->
	</div> <!-- .cd-dropdown-wrapper -->
	<!--nav End-->

	<div class="container_default" _height="auto">

    <div class="videoBox">
	    <div class="video-contBox" style="margin-top:78px;">
			<!--<iframe src="https://www.youtube.com/embed/N1s6lzxTjIc" type="text/html" width="800" height="450" frameborder="0">
			</iframe>-->
			<a href="/main/videoDetails?type={{movie_type}}&video_id={{videos.0.id}}"><img src="{{videos.0.photo.url}}"></a>
			<div class="videoTitleTxt">
				<h2>{{videos.0.title}}</h2>
			<!--<h6>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h6>-->
			</div>
		</div>

	</div>
	<div class="videoBox1">
		<ul class="videoCont" id="box" >

			{% for video_split in videos|split_videos %}
				<div id="video_{{forloop.counter}}" {% if not forloop.first %}style="display:none"{% endif%}>
				{% for item in video_split %}
					<li class="box">
						<a href="/main/videoDetails?type={{movie_type}}&video_id={{item.id}}">
							<div class="videoContImg">
								<img src="{{item.photo.url}}">
							</div>
							<div class="videoTitleTxtBox">
								<!--<h4><i class="fa fa-clock-o" aria-hidden="true"></i>
									<span>2017/02/06</span>
								</h4>-->
								 <h2>{{item.title}}</h2>
								 <!--<h6>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h6>-->
							</div>
						</a>
					</li>
			{% endfor %}
				{% if not forloop.last %}
				<div id="message_{{forloop.counter}}">往下滑動顯示更多</div>
				</div>
				{% endif %}
			{% endfor %}

		</ul>
	</div>
    <!--分頁 start
    <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination"></ul>
    </nav>-->
    <!--分頁 End-->

	</div>
	<div class="under-nav" style="display: block;">
	    <ul>
		     <li><a href="/main/home"><img src="{% static "img/index.png"%}" width="40" /></a><p><a href="/main/home">首頁</a></p></li>
		    <li><a href="https://www.shopnicokim.com/"><img src="{% static "img/cartIcon.png"%}" width="40" /></a><p><a href="#">夫妻嚴選</a></p></li>
		    <li><a href="/main/index_video"><img src="{% static "img/videoActive.png"%}"  width="40" /></a><p><a href="/main/index_video" class="active">影音專區</a></p></li>
		    <li><a href="/main/about_us"><img src="{% static "img/aboutIcon.png"%}" width="40" /></a><p><a href="/main/about_us">關於我們</a></p></li>
	    </ul>
	</div>
	<footer _height="none">
		<script src="{% static "js/mFooter.js"%}"></script>
	</footer>
	<div style="height:45px;"></div>
</div>

	<!--分頁功能
	<script src="{% static "js/jquery.paginate.js"%}"></script>
	<script>
		//call paginate
		$('#example').paginate({

		  // how many items per page
		  perPage:                2,

		  // boolean: scroll to top of the container if a user clicks on a pagination link
		  autoScroll:             true,

		  // which elements to target
		  scope:                  '',

		  // defines where the pagination will be displayed
		  paginatePosition:       ['bottom'],

		  // Pagination selectors
		  containerTag:           'nav',
		  paginationTag:          'ul',
		  itemTag:                'li',
		  linkTag:                'a',

		  // Determines whether or not the plugin makes use of hash locations
		  useHashLocation:        true,

		  // Triggered when a pagination link is clicked
		  onPageClick:            function() {}

		});

	</script>
	-->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36251023-1']);
	  _gaq.push(['_setDomainName', 'jqueryscript.net']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<!--瀑布流使用 start-->
	<!--<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>-->
	<!--<script>
	$(document).ready(function() {
    var data = {"data": [
	            { "src": "https://www.youtube.com/embed/lsTc5MlDsPQ" }, { "src": "https://www.youtube.com/embed/9xQ0JfFokJI" }, { 	"src": "https://www.youtube.com/embed/5_YESjKcJhU" }, { "src": "https://www.youtube.com/embed/CIphsxAPc5U" }, { "src": "https://www.youtube.com/embed/WmfLns0OA-c" }, { "src": "https://www.youtube.com/embed/CIphsxAPc5U" },{ "src": "https://www.youtube.com/embed/CIphsxAPc5U" }
	        ]};
	        var str = "";
	         for(var i = 0; i < data.data.length; i++) {
	        	var templ = "<li class=\"box\"> <div class=\"video-container\"> <iframe src=" +data.data[i]['src']+ " type=\"text/html\" width=\"800\" height=\"450\" frameborder=\"0\"></iframe> </div> <div class=\"videoTitleTxt\"> <h4><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i><span>2017/02/06</span></h4> <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2> <h6>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h6></div></li>"
	        	$("#box").append(templ);
	        }
		});
	</script>-->
	<!--瀑布流使用 End-->
	<!--取得影片高度 start
  	<script type="text/javascript">
  	$(function () {
		$(window).load(function(){
	    	var scrollVal = $(".header").height();
	    	$(".videoBox").css("margin-top",scrollVal);
	    });
	    $(window).resize(function(){
	    	var scrollVal = $(".videoBox").height();
	    	$(".videoBox").css("margin-top",scrollVal);
	    });
	    $(window).scroll(function() {
	    	var scrollVal = $(".videoBox").height();
	    	$(".videoBox").css("margin-top",scrollVal);
		});
	});
	</script>
	更多影片start-->
</body>
{% else %}
<!--youtube start-->

<body>
	<div class="pWrap">
		<header class="pHeader">
			<script src="{% static "js/pHeaderMem.js"%}"></script>
		</header>
		<nav class="pNavBox">
			<script src="{% static "js/pNav.js"%}"></script>
		</nav>
		<article>
			<div class="pContainer_default">
				<div class="tvBox tvBoxIndex">
					<div class="tv">
					<div class="tvBox tvBoxIndex">
						<div class="tvLeft">
							<div class="tvVideoIndex"><iframe width="710" height="399" src="https://www.youtube.com/embed/Hwtgt99BCAY" frameborder="0" allowfullscreen></iframe></div>
						</div>
						<div class="tvRight">
							<div class="pVtvTabsBox">
								<ul class="pVtvTabs">
									<li class="pNowHot active">即時新聞</li>
									<!--<li class="puLike">你可能會喜歡</li>-->
								</ul>
							</div>
							<!--即時熱門 start-->
							<div class="pNowHotBox pVideoListCon">
								<div class="scrollbar" id="style-1" style="height:330px;">
									<div class="force-overflow">
										<ul>
											<li>
												<a class="pVideoLink1" dateId="https://www.youtube.com/embed/UvNBwbOFwrw">
													<div class="pVideoImg"><img src="/static/img/0410_1.jpg" width="130"></div>
													<div class="pVideoView">
														<h2 class="pVideoVName">妮妮吃麵超萌</h2>
														<div class="pViewQuanBox">
															<i class="fa fa-eye" aria-hidden="true"></i>
															<span class="pViewCount">12</span>
														</div>
													</div>
												</a>
											</li>
											<li>
												<a class="pVideoLink1" dateId="https://www.youtube.com/embed/Hwtgt99BCAY">
													<div class="pVideoImg"><img src="/static/img/0410_2.jpg" width="130"></div>
													<div class="pVideoView">
														<h2 class="pVideoVName">妮妮吃麵超萌</h2>
														<div class="pViewQuanBox">
															<i class="fa fa-eye" aria-hidden="true"></i>
															<span class="pViewCount">12</span>
														</div>
													</div>
												</a>
											</li>
											<li>
												<a class="pVideoLink1" dateId="https://www.youtube.com/embed/EsvbFj9-zmw">
													<div class="pVideoImg"><img src="/static/img/0410_3.jpg" width="130"></div>
													<div class="pVideoView">
														<h2 class="pVideoVName">妮妮吃麵超萌</h2>
														<div class="pViewQuanBox">
															<i class="fa fa-eye" aria-hidden="true"></i>
															<span class="pViewCount">12</span>
														</div>
													</div>
												</a>
											</li>
											<li>
												<a class="pVideoLink1" dateId="https://www.youtube.com/embed/eO71P7ZzX_E">
													<div class="pVideoImg"><img src="/static/img/0410_4.jpg" width="130"></div>
													<div class="pVideoView">
														<h2 class="pVideoVName">妮妮吃麵超萌</h2>
														<div class="pViewQuanBox">
															<i class="fa fa-eye" aria-hidden="true"></i>
															<span class="pViewCount">12</span>
														</div>
													</div>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!--即時熱門 End-->

							<!--你可能會喜歡 start-->
							<div class="puLikeBox pVideoListCon">
								<div class="scrollbar" id="style-1" style="height:330px;">
									<div class="force-overflow">
										<ul>
											<li>
												<a class="pVideoLink1" dateId="https://www.youtube.com/embed/UvNBwbOFwrw">
													<div class="pVideoImg"><img src="/static/img/0410_1.jpg" width="130"></div>
													<div class="pVideoView">
														<h2 class="pVideoVName">妮妮吃麵超萌</h2>
														<div class="pViewQuanBox">
															<i class="fa fa-eye" aria-hidden="true"></i>
															<span class="pViewCount">12</span>
														</div>
													</div>
												</a>
											</li>
											<li>
												<a class="pVideoLink1" dateId="https://www.youtube.com/embed/Hwtgt99BCAY">
													<div class="pVideoImg"><img src="/static/img/0410_2.jpg" width="130"></div>
													<div class="pVideoView">
														<h2 class="pVideoVName">妮妮吃麵超萌</h2>
														<div class="pViewQuanBox">
															<i class="fa fa-eye" aria-hidden="true"></i>
															<span class="pViewCount">12</span>
														</div>
													</div>
												</a>
											</li>
											<li>
												<a class="pVideoLink1" dateId="https://www.youtube.com/embed/EsvbFj9-zmw">
													<div class="pVideoImg"><img src="/static/img/0410_3.jpg" width="130"></div>
													<div class="pVideoView">
														<h2 class="pVideoVName">妮妮吃麵超萌</h2>
														<div class="pViewQuanBox">
															<i class="fa fa-eye" aria-hidden="true"></i>
															<span class="pViewCount">12</span>
														</div>
													</div>
												</a>
											</li>
											<li>
												<a class="pVideoLink1" dateId="https://www.youtube.com/embed/eO71P7ZzX_E">
													<div class="pVideoImg"><img src="/static/img/0410_4.jpg" width="130"></div>
													<div class="pVideoView">
														<h2 class="pVideoVName">妮妮吃麵超萌</h2>
														<div class="pViewQuanBox">
															<i class="fa fa-eye" aria-hidden="true"></i>
															<span class="pViewCount">12</span>
														</div>
													</div>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!--你可能會喜歡 End-->
						</div>

					</div>
				</div>
				</div>
				<!--沒參數時 start-->
				<div class="pMovieArea">
					<div class="pMovieTitBox"><h2><span class="pinkBox"></span>最新發表</h2><a class="pMore"> · · ＭＯＲＥ</a></div>
					<div class="pMovieCont">
						<ul>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_3.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_4.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
						</ul>
					</div>
				</div>
				<div class="pMovieArea">
					<div class="pMovieTitBox"><h2><span class="pinkBox"></span>熱門即時</h2><a class="pMore"> · · ＭＯＲＥ</a></div>
					<div class="pMovieCont">
						<ul>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_3.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_4.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
						</ul>
					</div>
				</div>
				<div class="pMovieArea">
					<div class="pMovieTitBox"><h2><span class="pinkBox"></span>品牌合作</h2><a class="pMore"> · · ＭＯＲＥ</a></div>
					<div class="pMovieCont">
						<ul>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_3.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_4.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
						</ul>
					</div>
				</div>
				<div class="pMovieArea">
					<div class="pMovieTitBox"><h2><span class="pinkBox"></span>惡搞</h2><a class="pMore"> · · ＭＯＲＥ</a></div>
					<div class="pMovieCont">
						<ul>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_3.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_4.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
						</ul>
					</div>
				</div>
				<div class="pMovieArea">
					<div class="pMovieTitBox"><h2><span class="pinkBox"></span>放閃</h2><a class="pMore"> · · ＭＯＲＥ</a></div>
					<div class="pMovieCont">
						<ul>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_3.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_4.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
						</ul>
					</div>
				</div>
				<div class="pMovieArea">
					<div class="pMovieTitBox"><h2><span class="pinkBox"></span>親子家庭</h2><a class="pMore"> · · ＭＯＲＥ</a></div>
					<div class="pMovieCont">
						<ul>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_3.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_4.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
						</ul>
					</div>
				</div>
				<!--沒參數時 End-->

				<!--有參數時start
				<div class="pMovieArea">
					<div class="pMovieTitBox"><h2><span class="pinkBox"></span>親子家庭</h2></div>
					<div class="pMovieCont">
						<ul>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_3.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_4.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_3.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_4.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_1.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
							<li><a href="#"><img src="{% static "img/0410_2.jpg"%}"><span class="pGrayBg">最近爸爸不太敢去公園</span></a></li>
						</ul>
					</div>
				</div>
				有參數時-->

 			</div>
		</article>

		<footer class="pFooter">
			<script src="{% static "js/pFooter.js"%}"></script>
		</footer>
	</div>

</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
$(function(){
	var thumbSize = 'large',		// 設定要取得的縮圖是大圖還是小圖
										// 大圖寬高為 480X360；小圖寬高為 120X90
			imgWidth = '120',			// 限制圖片的寬
			imgHeight = '90',			// 限制圖片的高
			swfWidth = '480',			// 指定 YouTube 影片的寬
			swfHeight = '360',			// 指定 YouTube 影片的高
			autoPlay = '&autoplay=0',	// 是否載入 YouTube 影片後自動播放；若不要自動播放則設成 0
			fullScreen = '&fs=1';		// 是否允許播放 YouTube 影片時能全螢幕播放

		$('.playlist>li>a').each(function(){
			// 取得要連結轉換的網址及訊息內容
			var _this =  $(this),
				_url = _this.attr('href'),
				_info = _this.text(),
				_type = (thumbSize == 'large') ? 0 : 2;

			// 取得 vid
			var vid = _url.match('[\\?&]v=([^&#]*)')[1];

			// 取得縮圖
			var thumbUrl = "http://img.youtube.com/vi/"+vid+"/" + _type + ".jpg";

			// 把目前超連結的內容轉換成圖片並加入 click 事件
			_this.html('<img src="'+thumbUrl+'" alt="'+_info+'" title="'+_info+'" width="'+imgWidth+'" height="'+imgHeight+'" />').click(function(){
				return false;
			}).focus(function(){
				this.blur();
			}).children('img').click(function(){
				// 當點擊到圖片時就轉換成 YouTube 影片
				var swf  = '<object width="'+swfWidth+'" height="'+swfHeight+'">';
				swf += '<param name="movie" value="http://www.youtube.com/v/'+vid+autoPlay+fullScreen+'"></param>';
				swf += '<param name="wmode" value="transparent"></param>';
				swf += (fullScreen == '&fs=1') ? '<param name="allowfullscreen" value="true"></param>' : '';

				swf += '<embed type="application/x-shockwave-flash" src="http://www.youtube.com/v/'+vid+autoPlay+fullScreen+'" ';
				swf += (fullScreen == '&fs=1') ? 'allowfullscreen="true" ' : '';
				swf += 'wmode="transparent" width="'+swfWidth+'" height="'+swfHeight+'"></embed>';

				swf += '</object/>';

				$('.video').html(swf);

				return false;
			});
		});

		// 先載入第一個影片
		$('.playlist>li>a').eq(0).children('img').click();

		// 變更影片播放為自動播放
		autoPlay = '&autoplay=1';

});
</script>
<!--youtube End-->
{% endif %}