{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>roduct Details | Unify - Responsive Website Template</title>
<meta name="Keywords" content="那對夫妻">
<meta name="Description" content="那對夫妻">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
<!--匯入JSJQ -->
	<script src="{% static "js/jquery-1.8.2.min.js"%}"></script>
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/public.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/modernizr.js"%}"></script>
    <script src="{% static "js/headroom.js"%}"></script>
    <script src="{% static "js/jquery.menu-aim.js"%}"></script>
<!--匯入css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
<!--header隱藏css js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.js"></script>
    <style type="text/css">
		.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
		.headroom--unpinned {top: -100px;transform: translateY(-100%);}
		.headroom--pinned {transform: translateY(0%);z-index: 1;}
    }
	</style>
	<script type="text/javascript">
      	$("document").ready(function(){
     		 $("#header").headroom();
       	 });
    </script>
<!--header隱藏css js End-->

<!--header類別滑動效果 start-->
	<link rel="stylesheet" type="text/css" href="{% static "css/categorySlide.css"%}">
<!--header類別滑動效果 End-->
<!-- 輪播效果 start -->
	<script src="{% static "js/amazingslider.js"%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/amazingslider-1.css"%}">
    <script src="{% static "js/initslider-1.js"%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/amazingslider-2.css"%}">
    <script src="{% static "js/initslider-2.js"%}"></script>
<!-- 輪播效果 End -->

<!--分頁使用 start-->
	<link rel="stylesheet" href="{% static "css/jquery.paginate.css"%}" />
	<style>
		.paginate { padding: 0; margin: 0; }
		.paginate > li { list-style: none; padding: 10px 20px; border: 1px solid #ddd; margin: 10px 0; }
	</style>
<!--分頁 End-->
<!--撐開頁面使用 start-->
	<script src="{% static "js/minwt.auto_full_height.mini.js"%}"></script>
<!--撐開頁面使用 End-->
</head>

<body>
<div class="" none="ture">
	<header class="header" _height="none">
		<article class="topnav">
			<div class="cd-dropdown-wrapper">
				<a class="cd-dropdown-trigger top" href="#0">
					<span></span>
				</a>
			</div>
			<div class="logo">
				<a href="/main/index">
					<img class="top_logo" src="{% static "img/thecouple_webpage_logo.png"%}">
				</a>
			</div>
		</article>
		<div class="tabs fixed show-tab dark abgne_tab" fixed-tabs="#tv-tabs" ng-class="{'show-tab' : showTabs}">
	  		<a href="/main/home?type=new" id="new" target="_self" class="tab {% if movie_type == 'new'%}active{% endif %}">最新發表</a>
	  		<a href="/main/home?type=hot" id="hot" target="_self" class="tab {% if movie_type == 'hot'%}active{% endif %}">熱門即時</a>
	  		<a href="/main/home?type=brand" id="brand" target="_self" class="tab {% if movie_type == 'brand'%}active{% endif %}">品牌合作</a>
	  		<a href="/main/home?type=kuso" id="kuso" target="_self" class="tab {% if movie_type == 'kuso'%}active{% endif %}">惡搞</a>
	  		<a href="/main/home?type=love" id="love" target="_self" class="tab {% if movie_type == 'love'%}active{% endif %}">放閃</a>
	  		<a href="/main/home?type=family" id="family" target="_self" class="tab {% if movie_type == 'family'%}active{% endif %}">親子家庭</a>
		</div>
	</header>
	<!--nav start-->
	<div class="cd-dropdown-wrapper">
		<!--<a class="cd-dropdown-trigger" href="#0">Dropdown</a>-->
		<nav class="cd-dropdown">
			<h2>那對夫妻</h2>
			<a href="#0" class="cd-close">Close</a>
			<ul class="cd-dropdown-content">
				<li>
					<form class="cd-search" method="get">
						<input type="search" placeholder="Search..." class="searchlnput_text">
						<input class="searchlnput_bnt" name="" type="submit" value="">
					</form>
				</li>
				{% if request.user.is_authenticated %}
					<li>
						<a href="/account/user_logout/">登出</a>
					</li>
				{% else%}
					<li>
						<a href="/main/login/">登入</a>
					</li>
				{% endif %}
				<li>
					<a href="/main/register/">註冊</a>
				</li>
				<li class="has-children">
					<a href="#">會員專區</a>
					<ul class="cd-secondary-dropdown is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li>
							<a href="/main/member/">會員資料</a>
						</li>
						<li>
							<a href="/main/change_password/">修改密碼</a>
						</li>
						<li>
							<a href="/main/order_record/">歷史訂購</a>
						</li>
						<li>
							<a href="/main/view_record/">商品瀏覽紀錄</a>
						</li>
						<li>
							<a href="/main/video_viewRecord/">影片瀏覽紀錄</a>
						</li>
						<li>
							<a href="/main/message_list/">信息通知</a>
						</li>
					</ul> <!-- .cd-secondary-dropdown -->
				</li> <!-- .has-children -->
			</ul> <!-- .cd-dropdown-content -->
		</nav> <!-- .cd-dropdown -->
	</div> <!-- .cd-dropdown-wrapper -->
	<!--nav End-->

	<div class="container_default shop grayBg" _height="auto">
		<!-- 輪播1 start -->
	    <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:1920px;margin:0px auto 0px;">
	        <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
	            <ul class="amazingslider-slides" style="display:none;">
	                <li><a href="productCon.html"><img src="{% static "img/001.png"%}" alt="001"  title="001" /></a>
	                </li>
	                <li><a href="productCon.html"><img src="{% static "img/002.png"%}" alt="002"  title="002" /></a>
	                </li>
	                <!--<li><img src="{% static "img/H60515r4PGQ.jpg"%}" />
	                <video preload="none" src="https://www.youtube.com/embed/H60515r4PGQ?v=H60515r4PGQ&list=PLH2b4YnNI7j0_bTKPQ74JsGAvdrkx16Fh" ></video>
	                </li>-->
	            </ul>
	            <ul class="amazingslider-thumbnails" style="display:none;">
	                <li><img src="{% static "img/001-tn.png"%}" alt="001" title="001" /></li>
	                <li><img src="{% static "img/002-tn.png"%}" alt="002" title="002" /></li>
	                <li><img src="{% static "img/H60515r4PGQ-tn.jpg"%}" /></li>
	            </ul>
	        <!--<div class="amazingslider-engine"><a href="http://amazingslider.com" title="Responsive jQuery Content Slider">Responsive jQuery Content Slider</a></div>
	        </div>-->
    	</div>
    <!-- 輪播1 End -->
    <!--即時熱門 start-->
		<div class="area1Box">
			<div id="triangle"></div>
			<div class="area1Title"><h1>即時熱門</h1></div>
			<div class="area1Cont">
				<ul>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/001.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/002.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/003.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/004.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
     <!--即時熱門 End-->
     <!--最新影片 start-->
		<div class="area2Box">
			<div id="triangle"></div>
			<div class="area2Title"><h1>最新影片</h1><span>>更多</span></div>
			<div class="area2Cont">
				<ul>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/video001.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/001.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/002.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/003.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/004.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
     <!--最新影片 End-->
     <!--品牌合作 start-->
		<div class="area2Box">
			<div id="triangle"></div>
			<div class="area2Title"><h1>品牌合作</h1><span>>更多</span></div>
			<div class="area2Cont">
				<ul>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/video001.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/001.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/002.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/003.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/004.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
     <!--品牌合作 End-->
     <!--夫妻嚴選 start-->
		<div class="area3Box">
			<div id="triangle"></div>
			<div class="area3Title"><h1>夫妻嚴選</h1><span>>更多</span></div>
			<div class="area3Cont">
				<ul>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/product001.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
								 <h6>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h6>
							</div>
						</a>
					</li>
					<li class="box">
						<a href="../videoDetails">
							<div class="videoContImg">
								<img src="{% static "img/product002.png"%}">
							</div>
							<div class="videoTitleTxtBox">
								 <h2>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h2>
								 <h6>試吃初水果～大家快去粉專抽好吃的水果禮盒喔～</h6>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
     <!--夫妻嚴選 End-->
	</div>
	<div class="under-nav" style="display: block;">
	    <ul>
		     <li><a href="#"><img src="{% static "img/index.png"%}" width="40" /></a><p>首頁</p></li>
		    <li><a href="#"><img src="{% static "img/cartIcon.png"%}" width="40" /></a><p>夫妻嚴選</p></li>
		    <li><a href="/main/index_video"><img src="{% static "img/videoActive.png"%}"  width="40" /></a><p class="active">影音專區</p></li>
		    <li><a href="#"><img src="{% static "img/aboutIcon.png"%}" width="40" /></a><p>關於我們</p></li>
	    </ul>
	</div>
	<footer _height="none">
		<ul>
			<li>超人氣娛樂股份有限公司</li>
			<li>02-7709-5168</li>
			<li><a href="mailto:service@supermedia.cool">service@supermedia.cool</a></li>
			<li>copyright©那對夫妻nicokim.cc版權所有</li>
		</ul>
	</footer>
	<div style="height:40px;"></div>
	<!--分頁功能
	<script src="js/jquery.paginate.js"></script>
	<script>
		//call paginate
		$('#example').paginate({

		  // how many items per page
		  perPage:                2,

		  // boolean: scroll to top of the container if a user clicks on a pagination link
		  autoScroll:             true,

		  // which elements to target
		  scope:                  '',

		  // defines where the pagination will be displayed
		  paginatePosition:       ['bottom'],

		  // Pagination selectors
		  containerTag:           'nav',
		  paginationTag:          'ul',
		  itemTag:                'li',
		  linkTag:                'a',

		  // Determines whether or not the plugin makes use of hash locations
		  useHashLocation:        true,

		  // Triggered when a pagination link is clicked
		  onPageClick:            function() {}

		});

	</script>
	-->
</div>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36251023-1']);
	  _gaq.push(['_setDomainName', 'jqueryscript.net']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>