{% load staticfiles %}
{% load socialaccount %}

<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>roduct Details | Unify - Responsive Website Template</title>
<meta name="Keywords" content="那對夫妻">
<meta name="Description" content="那對夫妻">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
<!--匯入JSJQ -->
	<script src="{% static "js/jquery-1.8.2.min.js"%}"></script>
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/modernizr.js"%}"></script>
    <script src="{% static "js/headroom.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/jquery.menu-aim.js"%}"></script>
<!--匯入css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
    <link rel="shortcut icon" href="images/favicon.ico"/>
<!--header隱藏css js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.js"></script>
    <style type="text/css">
		.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
		.headroom--unpinned {top: -100px;transform: translateY(-100%);}
		.headroom--pinned {transform: translateY(0%);z-index: 1;}
    }
	</style>
	<script type="text/javascript">
      	$("document").ready(function(){
     		$("#header").headroom();

     		$( "#login" ).click(function() {
			  	login();
			});

			$( "#facebook_login" ).click(function() {
			  	window.location.assign('/account/facebook/login/?next=/account/social/signup/');
			});
       	 });

      	function login() {
			var email = $("#email").val();
			var password = $("#password").val();

			if(!$("#email").val()) {
		  		alert("請輸入帳號！");
		  		$("#email").focus();
		  		return;
	  		}

	  		if(!$("#password").val()) {
		  		alert("請輸入密碼！");
		  		$("#password").focus();
		  		return;
	  		}

			$('#loading').fadeIn("fast");
			$.ajax({
			  type: 'POST',
			  url: "/account/user_login/",
			  data: JSON.stringify({"username":email, "password":password}),
			  success: function(data) {
			    if(!data["status"]) {
			    	$('#loading').fadeOut("fast");
			    	alert(data["msg"]);
			    } else {
			    	$('#loading').fadeOut("fast");
			    	alert("登入成功！");

			    	$.ajax({
					  type: 'GET',
					  url: "/account/check_user_verify/",
					  success: function(data) {
					    if (data == false) {
					    	alert("請先進行email認證功能！");
					    	window.location.assign('/main/register_success/');
					    } else {
					    	if(data["next"]) {
					    		window.location.assign(data["next"]);
					    	} else {
					    		location.assign("/");
					    	}

					    }
					  }
					});
			    	//
			    }
			  },
			  dataType: "json",
			  contentType: "application/json"
			});
		}
    </script>
<!--header隱藏css js End-->
<!--撐開頁面使用 start-->
	<script src="{% static "js/minwt.auto_full_height.mini.js"%}"></script>
<!--撐開頁面使用 End-->
</head>

{% if not is_mobile %}
<body>
<link rel="stylesheet" type="text/css" href="{% static "css/mobile.css"%}">
<div _height="none">
<!--<div id="loading">
  	<img id="loading-image" src="{% static "img/page-loader.gif"%}" alt="Loading..." />
</div>-->
	<header class="header" _height="none">
		<script src="{% static "js/mHeader.js"%}"></script>
	</header>
	<!--nav start-->
	<div class="cd-dropdown-wrapper">
		<!--<a class="cd-dropdown-trigger" href="#0">Dropdown</a>-->
		<nav class="cd-dropdown">
			<h2>那對夫妻</h2>
			<a href="#0" class="cd-close">Close</a>
			<ul class="cd-dropdown-content">
				<li>
					<form class="cd-search" method="get">
						<input type="search" placeholder="Search..." class="searchlnput_text">
						<input class="searchlnput_bnt" name="" type="submit" value="">
					</form>
				</li>
				{% if request.user.is_authenticated %}
					<li>
						<a href="/account/user_logout/">登出</a>
					</li>
				{% else%}
					<li>
						<a href="/main/login/">登入</a>
					</li>
				{% endif %}
				<li>
					<a href="/main/register/">註冊</a>
				</li>
				<li class="has-children">
					<a href="#">會員專區</a>
					<ul class="cd-secondary-dropdown is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li>
							<a href="/main/member/">會員資料</a>
						</li>
						<li>
							<a href="/main/change_password/">修改密碼</a>
						</li>
						<!--<li>
							<a href="/main/order_record/">歷史訂購</a>
						</li>
						<li>
							<a href="/main/view_record/">商品瀏覽紀錄</a>
						</li>-->
						<li>
							<a href="/main/video_viewRecord/">影片瀏覽紀錄</a>
						</li>
						<li>
							<a href="/main/message_list/">信息通知</a>
						</li>
					</ul> <!-- .cd-secondary-dropdown -->
				</li> <!-- .has-children -->
			</ul> <!-- .cd-dropdown-content -->
		</nav> <!-- .cd-dropdown -->
	</div> <!-- .cd-dropdown-wrapper -->
	<!--nav End-->

	<div class="container" _height="auto">
		<div class="memberBox">
			<div id="sky-form4" class="log-reg-block sky-form" novalidate="novalidate">
				<h2>會員登入</h2>
				<div class="login-input reg-input">
					<div class="row">
						<div class="col-sm-6">
							<section>
								<label class="input">
									<input type="email" id="email" placeholder="請輸入email帳號" class="form-control">
								</label>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<section>
								<label class="input">
									<input type="password" id="password" placeholder="請輸入密碼6~12位數" class="form-control">
								</label>
							</section>
						</div>
					</div>
					<div class="col-xs-6 rememberBox">
						<label class="checkbox">
							<input type="checkbox" name="checkbox" style="width:10px;height:10px;border:1px solid #666;">
							記住帳號
						</label>
					</div>
					<span class="divider">|</span>
					<div class="col-xs-6 forgetBox">
						<label class="checkbox">
							<a href="/main/forget_password/">忘記密碼？</a>
						</label>
					</div>
				</div>
				<button class="loginBtn" id="login">登入</button>
				<div class="border-wings">
					<span>or</span>
				</div>
				<div class="col-lg-6 margin-bottom-10">
					<button type="button" class="btn-u btn-u-md btn-u-fb btn-block" id="facebook_login"><i class="fa fa-facebook"></i> Facebook Log In</button>
				</div>
				<span class="gotoReg">還沒有帳號？<a href="/main/register/">前往註冊</a></span>
			</div>
		</div>
	</div>
	<footer _height="none">
		<script src="{% static "js/mFooter.js"%}"></script>
	</footer>
</div>
</body>
{% else %}
<body>
	<div id="loading">
  		<img id="loading-image" src="/static/img/page-loader.gif" alt="Loading...">
	</div>
	<div class="pWrap">
		<header class="pHeader">
			<script src="{% static "js/pHeaderMem.js"%}"></script>
		</header>
		<nav class="pNavBox">
			<script src="{% static "js/pNav.js"%}"></script>
		</nav>
		<article>
			<div class="breadCrumbs">
				<a class="home" href="/"><i class="fa fa-home" aria-hidden="true" style="color:#e18293;"></i></a>
				<strong>&gt;</strong>
				<span class="current">登入</span>
			</div>
			<div class="pMemberBox">
				<div class="memberBannerBox">
					<div class="memberBannerCon">
						<img src="{% static "img/loginBanner.jpg"%}">
					</div>
				</div>
				<div class="pLoginBox">
					<div id="sky-form4" class="log-reg-block sky-form pLoginCon txtCenter" novalidate="novalidate">
						<h2>會員登入</h2>
						<div class="login-input reg-input">
							<div class="row">
								<div class="col-sm-6">
									<section>
										<label class="input">
											<input type="email" id="email" placeholder="請輸入email帳號" class="form-control">
										</label>
									</section>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<section>
										<label class="input">
											<input type="password" id="password" placeholder="請輸入密碼6~12位數" class="form-control">
										</label>
									</section>
								</div>
							</div>
							<div class="col-xs-6 rememberBox">
								<label class="checkbox">
									<input type="checkbox" name="checkbox" style="width:10px;height:10px;border:1px solid #666;">
									記住帳號
								</label>
							</div>
							<span class="divider">|</span>
							<div class="col-xs-6 forgetBox">
								<label class="checkbox">
									<a href="/main/forget_password/">忘記密碼？</a>
								</label>
							</div>
						</div>
						<button class="loginBtn" id="login">登入</button>
						<div class="border-wings">
							<span>or</span>
						</div>
						<div class="col-lg-6 margin-bottom-10">
							<button type="button" class="btn-u btn-u-md btn-u-fb btn-block" id="facebook_login"><i class="fa fa-facebook"></i> Facebook Log In</button>
						</div>
						<span class="gotoReg">還沒有帳號？<a href="/main/register/">前往註冊</a></span>
					</div>
				</div>
			</div>
		</article>


		<footer class="pFooter">
			<script src="{% static "js/pFooter.js"%}"></script>
		</footer>
	</div>

</body>
{% endif %}
