{% load staticfiles %}

<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>roduct Details | Unify - Responsive Website Template</title>
<meta name="Keywords" content="那對夫妻">
<meta name="Description" content="那對夫妻">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
<!--匯入JSJQ -->
	<script src="{% static "js/jquery-1.8.2.min.js"%}"></script>
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/modernizr.js"%}"></script>
    <script src="{% static "js/headroom.js"%}"></script>
    <script src="{% static "js/jquery.twzipcode.js"%}"></script>
	<script src="{% static "js/jquery.twzipcode.min.js"%}"></script>
	<script src="{% static "js/jquery.menu-aim.js"%}"></script>
<!--匯入css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
    <link rel="shortcut icon" href="images/favicon.ico"/>
<!--header隱藏css js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.js"></script>
    <style type="text/css">
		.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
		.headroom--unpinned {top: -100px;transform: translateY(-100%);}
		.headroom--pinned {transform: translateY(0%);z-index: 1;}
    }
	</style>
	<script type="text/javascript">
		var fields = ["email", "nickname", "sex", "birthday", "phone_number", "year", "address"]

		var tw_fields = ["email", "姓名", "性別", "生日", "手機", "年齡", "地址"]

      	$("document").ready(function(){
     		 $("#header").headroom();

     		 $( "#save" ).click(function() {
			  	for(item in fields) {
			  		if(!$("#" + fields[item]).val()) {
				  		alert("請輸入"+tw_fields[item]);
				  		$("#"+fields[item]).focus();
				  		return;
			  		}
			  		if($( "select[name*='county']" ).val() == "") {
			  			alert("請輸入地址縣市");
				  		$( "select[name*='county']" ).focus();
				  		return;
			  		}
			  		if($( "select[name*='district']" ).val() == "") {
			  			alert("請輸入地址鄉鎮市區");
				  		$( "select[name*='district']" ).focus();
				  		return;
			  		}
			  	}

			  	{% if social_account %}
				  	var regExp = /^[^@^\s]+@[^\.@^\s]+(\.[^\.@^\s]+)+$/;
					if (!$("#email").val().match(regExp)) {
						$("#email").focus();
						alert("email格式錯誤請使用email格式！");
						return false;
					}
				{% endif %}

			  	var regExp = /^09[0-9]{8}$/;
			  	if (!$("#phone_number").val().match(regExp)) {
					$("#phone_number").focus();
					alert("手機號碼格式錯誤！");
					return false;
				}
				var username = "{{user.username}}";
				var nickname = $("#nickname").val();
				var sex = $("#sex").val();
				var phone_number = $("#phone_number").val();
				var year = $("#year").val();
				var city = $( "select[name*='county']" ).val();
				var district = $( "select[name*='district']" ).val();
				var address =  $("#address").val();
				var email =  $("#email").val();

				var birthday = $("#birthday").val() + "T00:00:00Z";
				$.ajax({
				  type: 'POST',
				  url: "/account/user_modify/",
				  data: JSON.stringify({"username":username, "nickname":nickname, "sex":sex, "phone_number":phone_number, "year":year, "address":address, "birthday":birthday, 'city':city, "district":district{% if social_account %}, "email":email {% endif %}}),
				  success: function(data) {
				    if(!data["status"]) {
				    	alert(data["msg"]);
				    } else {
				    	if(data["redirect"]) {
				    		alert("儲存成功，修改email將進行認證！");
				    		window.location.assign('/main/register_success?socail=yes');
				    		return
				    	}
				    	alert("儲存成功！");
				    	location.reload();
				    }
				  },
				  dataType: "json",
				  contentType: "application/json"
				});
			});
       	 });
    </script>
<!--header隱藏css js End-->

<!--地址欄位使用 start-->
	<script>
		$("document").ready(function(){
			$("#twzipcode").twzipcode({"countySel":"{{user.city|default:""}}", "districtSel":"{{user.district|default:""}}"});
		});
	</script>
<!--地址欄位使用 End-->
</head>

{% if not is_mobile %}
<body>
	<header class="header">
		<script src="{% static "js/mHeader.js"%}"></script>
	</header>
	<!--nav start-->
	<div class="cd-dropdown-wrapper">
		<!--<a class="cd-dropdown-trigger" href="#0">Dropdown</a>-->
		<nav class="cd-dropdown">
			<h2>那對夫妻</h2>
			<a href="#0" class="cd-close">Close</a>
			<ul class="cd-dropdown-content">
				<li>
					<form class="cd-search" method="get">
						<input type="search" placeholder="Search..." class="searchlnput_text">
						<input class="searchlnput_bnt" name="" type="submit" value="">
					</form>
				</li>
				{% if request.user.is_authenticated %}
					<li>
						<a href="/account/user_logout/">登出</a>
					</li>
				{% else%}
					<li>
						<a href="/main/login/">登入</a>
					</li>
				{% endif %}
				<li>
					<a href="/main/register/">註冊</a>
				</li>
				<li class="has-children">
					<a href="#">會員專區</a>
					<ul class="cd-secondary-dropdown is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li>
							<a href="/main/member/">會員資料</a>
						</li>
						<li>
							<a href="/main/change_password/">修改密碼</a>
						</li>
						<li>
							<a href="/main/order_record/">歷史訂購</a>
						</li>
						<li>
							<a href="/main/view_record/">商品瀏覽紀錄</a>
						</li>
						<li>
							<a href="/main/video_viewRecord/">影片瀏覽紀錄</a>
						</li>
						<li>
							<a href="/main/message_list/">信息通知</a>
						</li>
					</ul> <!-- .cd-secondary-dropdown -->
				</li> <!-- .has-children -->
			</ul> <!-- .cd-dropdown-content -->
		</nav> <!-- .cd-dropdown -->
	</div> <!-- .cd-dropdown-wrapper -->
	<!--nav End-->

	<div class="container">
		<div class="memberBox">
			<div id="sky-form4" class="log-reg-block sky-form" novalidate="novalidate">
				<h2>會員資料</h2>

				<div class="login-input reg-input">
					{% if social_account %}
					<div class="row">
						<div class="col-sm-6">
							<section>
								<label class="input">
									<span class="inputW">EMAIL</span><input type="text" id="email" placeholder="請輸入EMAIL" class="form-control" value="{{user.email|default:""}}">
								</label>
							</section>
						</div>
					</div>
					{% endif %}
					<div class="row">
						<div class="col-sm-6">
							<section>
								<label class="input">
									<span class="inputW">姓名</span><input type="text" id="nickname" placeholder="請輸入姓名" class="form-control" value="{{user.nickname|default:""}}">
								</label>
							</section>
						</div>
					</div>
					<label class="select margin-bottom-15">
						<span class="inputW">性別</span><select id="sex" class="form-control">
							<option value="0" selected="" disabled="">請選擇性別</option>
							<option {% if user.sex == "man" %}selected{% endif %} value="man">男性</option>
							<option {% if user.sex == "women" %}selected{% endif %} value="women">女性</option>
						</select>
					</label>
					<div class="row margin-bottom-10">
						<div class="col-xs-3">
							<span class="inputW">生日</span>
							<input type="date" id="birthday" placeholder="請輸入生日" class="form-control brithday" value="{{birthday}}">
						</div>
					</div>
					<!--<div class="row">
						<div class="col-sm-6">
							<section>
								<label class="input">
									<span class="inputW">電話</span><input type="text" name="phone" placeholder="請輸入電話" class="form-control">
								</label>
							</section>
						</div>
					</div>-->
					<div class="row">
						<div class="col-sm-6">
							<section>
								<label class="input">
									<span class="inputW">手機</span><input type="text" id="phone_number" placeholder="請輸入手機" class="form-control" value="{{user.phone_number | default:""}}">
								</label>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<section>
								<label class="input">
									<span class="inputW">年齡</span><input type="number" id="year" placeholder="請輸入年齡" class="form-control" value="{{user.year|default:""}}">
								</label>
							</section>
						</div>
					</div>
					<div class="address">
						<span class="inputW">地址</span>
						<div class="addressBox">
							<div id="twzipcode"></div>
							<input type="text" id="address" placeholder="請輸入地址" class="addressText" value="{{user.address|default:""}}">
						</div>
					</div>
				</div>

				<button class="memberSave" id="save">儲存</button>
			</div>
		</div>
	</div>
	<footer _height="none">
		<script src="{% static "js/mFooter.js"%}"></script>
	</footer>
</body>
{% else %}
<body>
	<div class="pWrap">
		<header class="pHeader">
			<div class="pTopBox">
				<div class="pTopBox1">
					<div class="pTop1Box1">
						<ul class="pTop1Cont">
							<li><i class="fa fa-info-circle" aria-hidden="true"></i>關於我們</li>
							<li><i class="fa fa-shopping-bag" aria-hidden="true"></i>購物商城</li>
							<li><i class="fa fa-video-camera" aria-hidden="true"></i>影音專區</li>
						</ul>
					</div>
					<div class="pLoginBox"><span class="logInBtn"><a href="/main/login/">登入</a></span>/<span class="logOutBtn"><a href="/main/register/">註冊</a></span></div>
					<div class="pLogoutBox">
						<ul class="pNavLogoutBox">
							<li><a href="/main/member/"><img src="{% static "img/person-icon.png"%}" width="40"></a><span class="logOutBtn"><i class="fa fa-caret-down" aria-hidden="true"></i></span></li>
						</ul>
						<div class="pLogOutList">
							<ul class="drop-down-menu">
						        <li><a href="#">會員專區</a></li>
						        <li><a href="#">修改密碼</a></li>
						        <li><a href="#">登出</a></li>
						    </ul>
						</div>
					</div>

				</div>
			</div>
			<div class="pLogoSearchBox">
				<div class="pLogoBox">
					<img src="{% static "img/thecouple_webpage_logo.png"%}" width="150">
				</div>
				<div class="pSearchBox">
					<div class="psearchCon"><input class="pSearchBar" type="text" /><div class="pSearchIcon"><i class="fa fa-search" aria-hidden="true"></i></div></div>
					<div class="pHotTxtBox">
						<span class="pHotTxtTitle">熱門</span>
						<ul class="pHotTxtItem">
							<li>可愛</li>
							<li>惡搞</li>
							<li>妮妮</li>
							<li>砸派機</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<nav class="pNavBox">
			<div class="pNavCon">
				<ul class="pNavConDet">
					<li class="active">最新發表</li>
					<li>即時熱門</li>
					<li>品牌合作</li>
					<li>即興惡搞</li>
					<li>無地放閃</li>
					<li>親子家庭</li>
					<li>生活影片</li>
					<li>親子教育</li>
					<li>趣味搞笑</li>
					<li>娛樂趣味</li>
				</ul>
			</div>
		</nav>
		<article>
			<div class="breadCrumbs">
				<a class="home" href="/"><i class="fa fa-home" aria-hidden="true" style="color:#e18293;"></i></a>
				<strong>&gt;</strong>
				<span class="current">會員中心</span>
			</div>
			<div class="pMemberBox">
				<div class="pMemberTitBox">
					<h1 class="pMemberTitCon">會員中心</h1>
				</div>
				<div class="pMemberTab">
					<ul>
						<li class="active"><a href="#">基本資料</a></li><span class="separateLine">|</span>
						<li><a href="#">歷史紀錄</a></li><span class="separateLine">|</span>
						<li><a href="#">商品瀏覽紀錄</a></li><span class="separateLine">|</span>
						<li><a href="#">影片瀏覽紀錄</a></li><span class="separateLine">|</span>
						<li><a href="#">訊息通知</a></li>
					</ul>
				</div>
				<div class="pMemberDateBox">
					<div class="pMemberDateTit">
						<h2>基本資料</h2>
					</div>
					<div class="pMemberDateCon">
						<div id="sky-form4" class="log-reg-block sky-form pMemberForm" novalidate="novalidate">
							<div class="login-input reg-input">
								{% if social_account %}
								<div class="row">
									<div class="col-sm-6">
										<section>
											<label class="input">
												<span class="inputW">EMAIL</span><input type="text" id="email" placeholder="請輸入EMAIL" class="form-control" value="{{user.email|default:""}}">
											</label>
										</section>
									</div>
								</div>
								{% endif %}
								<div class="row">
									<div class="col-sm-6">
										<section>
											<label class="input">
												<span class="inputW">姓名</span><input type="text" id="nickname" placeholder="請輸入姓名" class="form-control" value="{{user.nickname|default:""}}">
											</label>
										</section>
									</div>
								</div>
								<label class="select margin-bottom-15">
									<span class="inputW">性別</span><select id="sex" class="form-control">
										<option value="0" selected="" disabled="">請選擇性別</option>
										<option {% if user.sex == "man" %}selected{% endif %} value="man">男性</option>
										<option {% if user.sex == "women" %}selected{% endif %} value="women">女性</option>
									</select>
								</label>
								<div class="row margin-bottom-10">
									<div class="col-xs-3">
										<span class="inputW" style="margin-right:-4px;">生日</span>
										<input type="date" id="birthday" placeholder="請輸入生日" class="form-control brithday" value="{{birthday}}">
									</div>
								</div>
								<!--<div class="row">
									<div class="col-sm-6">
										<section>
											<label class="input">
												<span class="inputW">電話</span><input type="text" name="phone" placeholder="請輸入電話" class="form-control">
											</label>
										</section>
									</div>
								</div>-->
								<div class="row">
									<div class="col-sm-6">
										<section>
											<label class="input">
												<span class="inputW">手機</span><input type="text" id="phone_number" placeholder="請輸入手機" class="form-control" value="{{user.phone_number | default:""}}">
											</label>
										</section>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<section>
											<label class="input">
												<span class="inputW">年齡</span><input type="number" id="year" placeholder="請輸入年齡" class="form-control" value="{{user.year|default:""}}">
											</label>
										</section>
									</div>
								</div>
								<div class="address">
									<span class="inputW" style="margin-right:-1px;">地址</span>
									<div class="addressBox">
										<div id="twzipcode"></div>
										<input type="text" id="address" placeholder="請輸入地址" class="addressText" value="{{user.address|default:""}}">
									</div>
								</div>
							</div>

							<div class="pMemberSaveBox"><button class="memberSave" id="save">儲存</button></div>
						</div>

					</div>
				</div>
			</div>
		</article>
		<div class="pFloatLeftSahre">
			<div class="pLeftShareBox">
				<ul>
					<li><a onclick="return share_facebook()"><img src="/static/img/facebook_color.png" width="40" height="40" /></a></li>
					<li><a onclick="return share_line()"><img src="/static/img/line_color.png" width="40" /></a></li>
				</ul>
			</div>
		</div>

		<footer class="pFooter">
			<script src="{% static "js/pFooter.js"%}"></script>
		</footer>
	</div>
</body>

{% endif %}