{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>roduct Details | Unify - Responsive Website Template</title>
<meta name="Keywords" content="那對夫妻">
<meta name="Description" content="那對夫妻">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
<!--匯入JSJQ -->
	<script src="{% static "js/jquery-1.8.2.min.js"%}"></script>
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/modernizr.js"%}"></script>
    <script src="{% static "js/headroom.js"%}"></script>
    <script src="{% static "js/jquery.menu-aim.js"%}"></script>
<!--匯入css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
<!--header隱藏css js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.js"></script>
    <style type="text/css">
		.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
		.headroom--unpinned {top: -100px;transform: translateY(-100%);}
		.headroom--pinned {transform: translateY(0%);z-index: 1;}
    }
	</style>
<!--header隱藏css js End-->
<!--彈窗使用css js start-->
	<link rel="stylesheet" href="{% static "css/jquery.sweet-modal.min.css"%}" />
	<script src="{% static "js/jquery.sweet-modal.min.js"%}"></script>
<!--彈窗使用css js End-->
<!--撐開頁面使用 start-->
	<script src="{% static "js/minwt.auto_full_height.mini.js"%}"></script>
<!--撐開頁面使用 End-->
</head>
{% if not is_mobile %}
<body>
<link rel="stylesheet" type="text/css" href="{% static "css/mobile.css"%}">
<div class="" none="ture">
	<header class="header" _height="none" style="display:none;">
		<script src="{% static "js/mHeader.js"%}"></script>
	</header>
	<!--nav start-->
	<div class="cd-dropdown-wrapper">
		<!--<a class="cd-dropdown-trigger" href="#0">Dropdown</a>-->
		<nav class="cd-dropdown">
			<h2>那對夫妻</h2>
			<a href="#0" class="cd-close">Close</a>
			<ul class="cd-dropdown-content">
				<li>
					<form class="cd-search" method="get">
						<input type="search" placeholder="Search..." class="searchlnput_text">
						<input class="searchlnput_bnt" name="" type="submit" value="">
					</form>
				</li>
				{% if request.user.is_authenticated %}
					<li>
						<a href="/account/user_logout/">登出</a>
					</li>
				{% else%}
					<li>
						<a href="/main/login/">登入</a>
					</li>
				{% endif %}
				<li>
					<a href="/main/register/">註冊</a>
				</li>
				<li class="has-children">
					<a href="#">會員專區</a>
					<ul class="cd-secondary-dropdown is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li>
							<a href="/main/member/">會員資料</a>
						</li>
						<li>
							<a href="/main/change_password/">修改密碼</a>
						</li>
						<li>
							<a href="/main/order_record/">歷史訂購</a>
						</li>
						<li>
							<a href="/main/view_record/">商品瀏覽紀錄</a>
						</li>
						<li>
							<a href="/main/video_viewRecord/">影片瀏覽紀錄</a>
						</li>
						<li>
							<a href="/main/message_list/">信息通知</a>
						</li>
					</ul> <!-- .cd-secondary-dropdown -->
				</li> <!-- .has-children -->
			</ul> <!-- .cd-dropdown-content -->
		</nav> <!-- .cd-dropdown -->
	</div> <!-- .cd-dropdown-wrapper -->
	<!--nav End-->

	<div class="container messageDetile1" _height="auto">
		<div class="animated prevPage messageDetailBox" id="headerMenu">
	  		<div class="goBack" onclick="history.go(-1)"><i class="fa fa-chevron-left tab" aria-hidden="true" style="line-height:40px;"></i></div>
		</div>
		<div class="messageDetCon">
			<h1>信件標題信件標題信件標題信件標題信件標題</h1>
			<div class="messageDetail">
				<p>後股時還心、半有思使基引特或投叫上們民，非們則院樣說少心我那……院易條會就竟車元中去期想於覺全告未學質企間藝四生受。

來學而草修比通口的水王實東物見國多的滿然來的。精物今他在如遠特術馬。留直放斯開。於建？

痛國把。來麼那見懷色此無，但為卻麗建你人表題車們太這更作受今一證古車會四康品告出值小吃後行認能教由進國是命變當冷失八一的比，這來日國，開這生；各軍更個易男了風生公舉學推其發北皮：聞來腳展區失、反便遊自，臺景學是我清現環小流公發一金的終起案；雖次化體白間、企以不媽望天。女展馬雖便部畫嚴同苦，就但神民一人法支人我班無走；角力情我呢走灣生界愛面我年共人間告電，臺靈不手性，馬城等開機自候起山以分，旅位在平它算足：面不點產發？是利無動答的設、該法前著象老是子素即也見仍父引？是成月明意我長遠要以。安果益候回一人坐聯面不期，論以節女作，說意吃當企在……修電響們上張本接時會跑年樹了意麼二此寫行車個動熱傳壓灣望機話素女裡去國？
				</p>
			</div>
		</div>
	</div>
	<!--<div class="under-nav">
	    <a href="#" class="inner-nav  icon-basket"></a>
	    <a aria-hidden="true" href="#" class="inner-nav icon-social-youtube"></a><a href="#" aria-hidden="true" class="inner-nav icon-feed"></a>
	    <a href="#" aria-hidden="true" class="inner-nav icon-list"></a>
	</div>-->
	<footer _height="none">
		<script src="{% static "js/mFooter.js"%}"></script>
	</footer>
	<!--信息已讀未讀切換  start-->
	<script type="text/javascript">

	$(".cardFlagItem1").click(function () {
		$(this).addClass("active").siblings().removeClass("active");
		$(".unread").fadeOut(100);
		$(".readed").fadeIn(100);
	});
	$(".cardFlagItem2").click(function () {
		$(this).addClass("active").siblings().removeClass("active");
		$(".unread").fadeIn(100);
		$(".readed").fadeOut(100);
	});

	</script>
	<!--信息已讀未讀切換  End-->
</body>
{% else %}
<body>
	<div class="pWrap">
		<header class="pHeader">
			<script src="{% static "js/pHeaderMem.js"%}"></script>
		</header>
		<nav class="pNavBox">
			<!--<script src="{% static "js/pNav.js"%}"></script>-->
		</nav>
		<article>
			<div class="breadCrumbs" style="margin-top:65px;">
				<a class="home" href="/"><i class="fa fa-home" aria-hidden="true" style="color:#e18293;"></i></a>
				<strong>&gt;</strong>
				<span class="current">會員中心</span>
			</div>
			<div class="pMemberBox">
				<div class="pMemberTitBox">
					<h1 class="pMemberTitCon">會員中心</h1>
				</div>
				<div class="pMemberTab">
					<ul>
						<li><a href="/main/member/">基本資料</a></li><span class="separateLine">|</span>
						<li><a href="/main/order_record/">歷史紀錄</a></li><span class="separateLine">|</span>
						<li><a href="/main/view_record/">商品瀏覽紀錄</a></li><span class="separateLine">|</span>
						<li><a href="/main/video_viewRecord/">影片瀏覽紀錄</a></li><span class="separateLine">|</span>
						<li class="active"><a href="/main/message_list/">訊息通知</a></li>
					</ul>
				</div>
				<div class="pMemberDateBox">
					<div class="pMemberDateTit">
						<h2>訊息通知</h2>
					</div>
					<div class="pMessageDateBox">
						<div class="pMessageTit">
							<a href="#"><i class="fa fa-chevron-left tab" aria-hidden="true"></i></a>
							<h2>站內信息通知站內信息通知站內信息通知</h2>
						</div>
						<div class="pMessageCont">
							<p>得男進女旅次，爭為那念年那，岸美賣們出代愛義，背了經參沒內開價使笑作久一演安麼許文大所，定單包下則個？北的子裡我看具東一時子際課，次亞上它對，或覺細，消記社服高洲北問為醫一得兒了得樣好進……方營回、我的高要，求候不家大術樹兩跟難的能樂次或能美，清體子香景嚴決上接……考童可理然工去以你意況全灣參覺使片不白水排洋球這國發我路小、海導不為在西散建人？獨而正運意一痛難不地事食再新教卻力；中中什們，真說開所議為也票個子中統以人來興放麼分聲起前報路……多四完</p>
						</div>

					</div>
				</div>
			</div>
		</article>

	<footer>
		<script src="{% static "js/pFooter.js"%}"></script>
	</footer>
	</div>
</body>
{% endif %}