{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>夫妻活動頁</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&amp;subset=cyrillic,latin">

	<!-- CSS Global Compulsory-->
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.css" %}">

	<!-- CSS Page Style -->
	<link rel="stylesheet" href="{% static "css/main/page_coming_soon_v2.css" %}">
</head>

<body><!--  class="bg-color-teal" -->
	<!--=== Content Part ===-->
	<div class="container">
		<div class="coming-soon-v2">
			<!-- Coming Soon v2 Content -->
			<div class="row">
				<div class="col-md-7 col-sm-12 coming-soon-v2-left-wrapper">
					<div class="coming-soon-v2-left">
						<img src="{% static "img/main/thecouple_new.png" %}" alt="logo" height="200">
						<h1></h1>
					</div>
				</div>

				<div class="col-md-5 col-sm-12 coming-soon-v2-right-wrapper" >
					<div class="coming-soon-v2-right" style="background: #E18293;">
						<h2 style="color:#fff;">Coming Soon...</h2>
						<p style="color:#fff;font-size: 38px;">那對夫妻官網</p>

						<!-- Coming Soon Plugin -->
						<div class="coming-soon-plugin">
							<div id="defaultCountdown"></div>
						</div>
						<!-- End Coming Soon Plugin -->

						<!--<div class="footer">
							<ul class="list-unstyled social-links">
								<li><a href="https://www.facebook.com/1006nk/?fref=ts"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.youtube.com/user/kyo0622ace1988"><i class="fa fa-youtube"></i></a></li>
								<li><a href="https://www.instagram.com/1006nk/"><i class="fa fa-instagram"></i></a></li>
							</ul>
							<span style="color:#fff;" class="copyright"> 2016 &copy; ALL Rights SuperMedia <a href="http://supermedia.cool" target="_blank">supermedia</a></span>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</div><!--/container-->
	<!--=== End Content Part ===-->

	<!-- JS Global Compulsory -->
	<script src="{% static "jquery/jquery.min.js" %}"></script>
	<script src="{% static "jquery/jquery-migrate.min.js" %}"></script>
	<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>



	<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->
</body>
</html>
