{% load staticfiles %}
{% load main_tags %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>roduct Details | Unify - Responsive Website Template</title>
<meta name="Keywords" content="那對夫妻">
<meta name="Description" content="那對夫妻">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
<!--匯入JSJQ -->
	<script src="{% static "js/jquery-1.8.2.min.js"%}"></script>
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/public.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/modernizr.js"%}"></script>
    <script src="{% static "js/headroom.js"%}"></script>
<!--匯入css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
<!--header隱藏css js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.js"></script>
    <style type="text/css">
		.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
		.headroom--unpinned {top: -100px;transform: translateY(-100%);}
		.headroom--pinned {transform: translateY(0%);z-index: 1;}
    }
	</style>
	<script type="text/javascript">
      	$("document").ready(function(){
     		 $("#header").headroom();
       	});

       	function go_back(){
       		history.go(-1);
       	}

       	function go_to_more(type) {
   			location.assign("/main/index_video/?type="+type);
       	}

       	function share_facebook() {
       		location.assign('https://www.facebook.com/share.php?u='+window.location.href);
       	}

       	function share_line() {
       		location.assign('http://line.naver.jp/R/msg/text/?'+window.location.href);
       	}

       	function comment_unlike(type, comment_id) {
       		$.ajax({
				type: "POST",
				url: "/movie/unlike_comment/",
				data: {"comment_id":comment_id,"comment_type":type},
				success: function(data){
					$("#comment_like_count_"+comment_id).text(data);
					$("#comment_like_button_"+comment_id).removeClass("fa-thumbs-up").addClass("fa-thumbs-o-up");
					document.getElementById("comment_like_button_"+comment_id).removeAttribute("onclick");
					$("#comment_like_button_"+comment_id).click(function(){
						comment_like('comment', comment_id);
					})
				},
				dataType: "json"
			});
       	}

       	function copy_link() {
       		var clip_area = document.createElement('textarea');
			  	clip_area.textContent = window.location.href;

				document.body.appendChild(clip_area);
				clip_area.select();

				document.execCommand('copy');
  				clip_area.remove();
  				alert("連結以複製")
       	}
      	function comment_like(type, comment_id) {
      		var count = $("#comment_like_count_"+comment_id).text();
      		$("#comment_like_count_"+comment_id).text(parseInt(count)+1)
      		$("#comment_like_button_"+comment_id).removeClass("fa-thumbs-o-up").addClass("fa-thumbs-up");
      		document.getElementById("comment_like_button_"+comment_id).removeAttribute("onclick");
      		$.ajax({
				type: "POST",
				url: "/movie/like_comment/",
				data: {"comment_id":comment_id,"comment_type":type},
				success: function(data){
					$("#comment_like_count_"+comment_id).text(data);
				},
				dataType: "json"
			});
      	}

      	function re_comment_like(type, comment_id) {
      		var count = $("#re_comment_like_text_count_"+comment_id).text();
      		$("#re_comment_like_text_count_"+comment_id).text(parseInt(count)+1)
      		$("#re_comment_like_thumbs_"+comment_id).removeClass("fa-thumbs-o-up").addClass("fa-thumbs-up");
      		document.getElementById("re_comment_like_count_"+comment_id).removeAttribute("onclick");
      		$.ajax({
				type: "POST",
				url: "/movie/like_comment/",
				data: {"comment_id":comment_id,"comment_type":type},
				success: function(data){
					$("#re_comment_like_text_count_"+comment_id).text(data)
					console.log(data)
				},
				dataType: "json"
			});
      	}

      	function like_video(is_bottom) {
      		console.log(is_bottom)
      		$.ajax({
				type: "POST",
				url: "/movie/like_video/",
				data: {"video_id":"{{video_obj.id}}"},
				success: function(data){
					$("#like_count").text(data);
					if(is_bottom) {
						$("#bottom_like").hide()
						$("#bottom_unlike").show()
					}

				},
				dataType: "json"
			});
      	}

      	function unlike_video(is_bottom) {
      		$.ajax({
				type: "POST",
				url: "/movie/unlike_video/",
				data: {"video_id":"{{video_obj.id}}"},
				success: function(data){
					$("#like_count").text(data)
					if(is_bottom) {
						$("#bottom_like").show()
						$("#bottom_unlike").hide()
					}
				},
				dataType: "json"
			});
      	}

      	function comment() {
      		var content = $("#comment_text").val()
      		$.ajax({
				type: "POST",
				url: "/movie/comment/",
				data: {"user":"{{request.user.id}}", "content":content, "movie":"{{video_obj.id}}"},
				success: function(data){
					var html = "<div class=\"messageBox\" id=\"speakBox_"+data.id+"\"><div class=\"messageBox1\"><div class=\"messageBox1Con\"><div class=\"messageBox1Img\"><img src=\""+data.user.user_img+"\" width=\"40\" /></div><div class=\"messageCon\"><div class=\"messageConTitle\"><h2>"+data.user.username+"</h2></div><span class=\"timeBox\">"+data.date+"</span><p class=\"messageTxt\">"+data.content+"</p><div class=\"likeBox\"><span class=\"likeBtn\"><i id=\"comment_like_button_"+data.id+"\" onclick=\"return comment_like('comment','"+data.id+"');\" class=\"fa fa-thumbs-o-up\" aria-hidden=\"true\"></i><span id=\"comment_like_count_"+data.id+"\" class=\"likeQua\">"+data.like+"</span></span><span class=\"likeBtn\"><i class=\"fa fa-commenting-o reply2 reply3\" aria-hidden=\"true\"></i><span class=\"likeQua\">0</span></span></div></div></div><ul class=\"reply1\" id=\"reply_"+data.id+"\">"
					html += "</ul><div class=\"messageBox reply1\"><div class=\"speakBox\"><div class=\"speakBoxImg\"><img src=\""+data.user.user_img+"\" width=\"40\" /></div><div class=\"messInputBox\"><textarea {% if not request.user.is_authenticated %}disabled{% endif %} id=\"re_comment_"+data.id+"\" class=\"signedIn\" placeholder=\"留言\"></textarea><button type=\"submit\" {% if not request.user.is_authenticated %}disabled{% endif %} onclick=\"return re_comment('"+data.id+"')\" class=\"messageBtn signedIn\">留言</button></div></div></div></div></div>"


					$("#comment_block").append(html);
					$("#comment_text").val("");
					/*$(".reply2").click(function () {
						event.preventDefault();
						 if ( $(this).parents(".messageBox1").children(".reply1").hasClass( "active" )) {
						 		$(this).parents(".messageBox1").children(".reply1").css("display","none").removeClass("active");
						    }else{
						    	$(this).parents(".messageBox1").children(".reply1").css("display","block").addClass("active");
						    }
					});*/
					$('html, body').animate({
				        scrollTop: $("#speakBox_"+data.id).offset().top
				    }, 1000);

				    $(".reply3").click(function () {
						event.preventDefault();
						if ( $(this).parents(".messageBox1").children(".reply1").hasClass( "active" )) {
								$(this).parents(".messageBox1").children(".reply1").css("display","none").removeClass("active");
						}else{
							$(this).parents(".messageBox1").children(".reply1").css("display","block").addClass("active");
						}
					});
				},
				dataType: "json"
			});
      	}

      	function re_comment(re_comment_id) {
      		var content = $("#re_comment_"+re_comment_id).val()
      		$.ajax({
				type: "POST",
				url: "/movie/re_comment/",
				data: {"user":"{{request.user.id}}", "content":content, "re_comment":re_comment_id},
				success: function(data){
					html = "<li class=\"messageBox1Con\"><div class=\"messageBox1Img\"><img src=\""+data.user.user_img+"\" width=\"40\" /></div><div class=\"messageCon\"><div class=\"messageConTitle\"><h2>"+data.user.username+"</h2></div><span class=\"timeBox\">"+data.date+"</span><p class=\"messageTxt\">"+data.content+"</p><div class=\"likeBox\" id=\"re_comment_like_count_"+data.id+"\" onclick=\"return re_comment_like('re_comment','"+data.id+"');\"><span class=\"likeBtn\"><i id=\"re_comment_like_thumbs_"+data.id+"\" class=\"fa fa-thumbs-o-up\" aria-hidden=\"true\"></i><span class=\"likeQua\" id=\"re_comment_like_text_count_"+data.id+"\">"+data.like+"</span></span></div></div></li>";
					$("#reply_"+re_comment_id).append(html);
					$("#re_comment_"+re_comment_id).val("");
				},
				dataType: "json"
			});
      	}
    </script>
<!--視頻彈窗js css start-->
	<link rel="stylesheet" type="text/css" href="{% static "css/jquery.fancybox.css"%}" media="screen" /> <!--视频弹窗样式-->
	<script src="{% static "js/jquery.fancybox.js"%}"></script>
	<script src="{% static "js/jquery.media.js"%}"></script>
<!--視頻彈窗js css End-->

<!--header隱藏css js End-->
<!--header類別滑動效果 start-->
	<link rel="stylesheet" type="text/css" href="{% static "css/categorySlide.css"%}">
<!--header類別滑動效果 End-->
<!--share 彈窗 start-->
	<script src="https://cdn.jsdelivr.net/sweetalert2/6.4.0/sweetalert2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.4.0/sweetalert2.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.4.0/sweetalert2.css">
	<script src="https://cdn.jsdelivr.net/sweetalert2/6.4.0/sweetalert2.js"></script>
<!--share 彈窗 End-->
<!--你可能會喜歡 start-->
	<link rel="stylesheet" href="{% static "css/demo.css"%}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static "css/flexslider.css"%}" type="text/css" media="screen" />
<!--你可能會喜歡 End-->

<!--動畫效果 start-->
	<link rel="stylesheet" type="text/css" href="{% static "css/animate.css"%}">
<!--動畫效果 End-->

<!--youtube手機版自動撥放 start
<script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '100%',
          width: '640',
          videoId: 'M7lc1UVf-VE',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          //setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
youtube手機版自動撥放 End-->
</head>

<body>
<div class="" none="ture">
	<header class="header animated hideHeader" _height="none" style="display:none;">
		<article class="topnav">
			<div class="cd-dropdown-wrapper">
				<a class="cd-dropdown-trigger top" href="#0">
					<span></span>
				</a>
			</div>
			<div class="logo">
				<a href="/index.html">
					<img class="top_logo" src="{% static "img/thecouple_webpage_logo.png"%}">
				</a>
			</div>
		</article>
	</header>
	<!--nav start-->
	<div class="cd-dropdown-wrapper">
		<!--<a class="cd-dropdown-trigger" href="#0">Dropdown</a>-->
		<nav class="cd-dropdown">
			<h2>那對夫妻</h2>
			<a href="#0" class="cd-close">Close</a>
			<ul class="cd-dropdown-content">
				<li>
					<form class="cd-search" method="get">
						<input type="search" placeholder="Search..." class="searchlnput_text">
						<input class="searchlnput_bnt" name="" type="submit" value="">
					</form>
				</li>
				<li>
					<a href="login.html">登入</a>
				</li>
				<li style="display: none;">
					<a href="#">登出</a>
				</li>
				<li>
					<a href="register.html">註冊</a>
				</li>
				<li class="has-children">
					<a href="#">會員專區</a>
					<ul class="cd-secondary-dropdown is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li>
							<a href="member.html">會員資料</a>
						</li>
						<li>
							<a href="changePassword.html">修改密碼</a>
						</li>
					</ul> <!-- .cd-secondary-dropdown -->
				</li> <!-- .has-children -->
			</ul> <!-- .cd-dropdown-content -->
		</nav> <!-- .cd-dropdown -->
	</div> <!-- .cd-dropdown-wrapper -->
	<!--nav End-->

	<div class="container_default" _height="auto">
	<div class="animated prevPage" id="headerMenu">
  		<div class="goBack" onclick="return go_back()"><i class="fa fa-chevron-left tab" aria-hidden="true" style="line-height:40px;"></i></div>
  		<div class="dropDownList">
			<a class="cd-dropdown-trigger1 top" href="#0">
				<span></span>
			</a>
		</div>
	</div>
    <div class="videoBox">
	    <div class="video-container">
			<iframe src="{{video_obj.link}}" type="text/html" width="100%" height="450" frameborder="0" allowfullscree>
			</iframe>
			<!--<div id="player"></div>-->
		</div>
		<div class="videoDetBox1">
			<a class="videoDetBox1Img01" href="#comment_block"><i class="fa fa-commenting-o" aria-hidden="true"></i>評論</a>
			<a class="videoDetBox1Img05"><img id="youtubeImg" src="{% static "img/youtube_h.png"%}" width="30"></a>
			<a id="video_img" class="fancybox-media float_r videoDetBox1Img06" href="https://www.honhe.com"><img id="youkuImg" src="{% static "img/youku.png"%}" width="30"></a>
			<a class="videoDetBox1Img02" id="videoDetLikeBtn" onclick="return like_video(false);">
				<i class="fa fa-heart-o" aria-hidden="true"></i>
			</a>
			<a class="videoDetBox1Img02 active" id="videoDetLikeBtn" onclick="return unlike_video(false);"><i class="fa fa-heart" aria-hidden="true"></i></a>
			<a class="videoDetBox1Img03 shareBox" id="share" href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a>
		</div>
	</div>
	<div class="box2">
		<div class="videoDetBox2">
			<div class="videoDetTitle active"><h1>{{video_obj.title}}</h1></div>
			<div class="accordionBox"><a href="" class="accordionBtn1" id="accordionBtn1"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
			<div class="vedioViewBox">
				<ul>
					<li>播放：<span>{{video_obj.watch_count}}</span>次</li>
					<li>類型：<span>{{video_obj.get_movie_type_display}}</span></li>
					<li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span id="like_count">{{video_obj.like}}</span></a></li>
				</ul>
			</div>
		</div>
		<div class="introductionBox">
			<h2>{{video_obj.description|safe}}</h2>
		</div>
		<div class="videolistBox">
			<div class="videolistTitleBox">
				<div class="videolistBoxTitle"><h1>你可能會喜歡</h1></div>
				<div class="videolistBoxMore" id="more1" onclick="return go_to_more('{{video_obj.movie_type}}');">更多 > </div>
			</div>
			<ul id="videoContBox">
				{% for item in maybe_likes %}
				<li>
					<a href="/main/videoDetails/?video_id={{item.id}}">
						<div class="videoListImgBox"><img src="{{item.photo.url}}" width="150" /></div>
						<div class="videoListTxtBox"><h2>{{item.title}}</h2>
							<div class="viewQuanBox">
								<i class="fa fa-eye" aria-hidden="true"></i>
								<span>{{item.watch_count}}</span>
							</div>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="videolistBox">
			<div class="videolistTitleBox">
				<div class="videolistBoxTitle"><h1>即時熱門</h1></div>
				<div class="videolistBoxMore" id="more1" onclick="return go_to_more('hot');">更多 > </div>
			</div>
			<ul id="videoContBox">
				{% for hot in hot_now %}
				<li>
					<a href="/movie/videoDetails/?video_id={{hot.id}}">
						<div class="videoListImgBox"><img src="{{hot.photo.url}}" width="150" /></div>
						<div class="videoListTxtBox"><h2>{{hot.title}}</h2>
							<div class="viewQuanBox">
								<i class="fa fa-eye" aria-hidden="true"></i>
								<span>{{hot.watch_count}}</span>
							</div>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="videolistBox">
			<div class="videolistTitleBox">
				<div class="videolistBoxTitle"><h1>合作品牌</h1></div>
				<div class="videolistBoxMore" id="more1" onclick="return go_to_more('brand');">更多 > </div>
			</div>
			<ul id="videoContBox">

				{% for brand in brands %}
				<li>
					<a href="/movie/videoDetails/?video_id={{brand.id}}">
						<div class="videoListImgBox"><img src="{{brand.photo.url}}" width="150" /></div>
						<div class="videoListTxtBox"><h2>{{brand.title}}</h2>
							<div class="viewQuanBox">
								<i class="fa fa-eye" aria-hidden="true"></i>
								<span>{{brand.watch_count}}</span>
							</div>
						</div>
					</a>
				</li>
				{% endfor %}

			</ul>
		</div>
		<div id="comment_block">
		{% for comment in comments %}
		<div class="messageBox" id="speakBox_{{comment.id}}">
			<div class="messageBox1">
				<div class="messageBox1Con">
					<div class="messageBox1Img"><img src="{{comment.user|get_user_img}}" width="40" /></div>
					<div class="messageCon">
						<div class="messageConTitle"><h2>{{comment.user.username}}</h2><!--<span class="categoryBox">熱門</span>--></div>
						<span class="timeBox">{{comment.date}}</span>
						<p class="messageTxt">{{comment.content}}</p>
						<div class="likeBox">
							<span class="likeBtn">
								<i id="comment_like_button_{{comment.id}}" onclick="return comment_like('comment','{{comment.id}}');" class="fa fa-thumbs-o-up" aria-hidden="true"></i>
								<span id="comment_like_count_{{comment.id}}" class="likeQua">{{comment.like}}</span>
							</span>
							<span class="likeBtn">
								<i name="{{comment.id}}" class="fa fa-commenting-o reply2" aria-hidden="true"></i>
								<span class="likeQua">{{comment.movie_re_comments.all.count}}</span>
							</span>
						</div>
					</div>
				</div>
				<ul class="animated reply1" id="reply_{{comment.id}}">
					{% for re_comment in comment.movie_re_comments.all %}
						<li class="messageBox1Con">
							<div class="messageBox1Img"><img src="{{re_comment.user|get_user_img}}" width="40" /></div>
							<div class="messageCon">
								<div class="messageConTitle"><h2>{{re_comment.user.username}}</h2><!--<span class="categoryBox">熱門</span>--></div>
								<span class="timeBox">{{re_comment.date}}</span>
								<p class="messageTxt">{{re_comment.content}}</p>
								<div class="likeBox" id="re_comment_like_count_{{re_comment.id}}" onclick="return re_comment_like('re_comment','{{re_comment.id}}');">
									<span class="likeBtn">
										<i id="re_comment_like_thumbs_{{re_comment.id}}" class="fa fa-thumbs-o-up" aria-hidden="true"></i>
										<span class="likeQua" id="re_comment_like_text_count_{{re_comment.id}}">{{re_comment.like}}</span>
									</span>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
				<div id="reply_position_{{comment.id}}" class="messageBox animated reply1">
					<div class="speakBox">
						<div class="speakBoxImg"><img src="{% if request.user.is_authenticated %}{{request.user|get_user_img}}{% else%}/static/img/person-icon.png{% endif %}" width="40" /></div>
						<div class="messInputBox">
							<textarea {% if not request.user.is_authenticated %}disabled{% endif %} id="re_comment_{{comment.id}}" class="signedIn" placeholder="{% if not request.user.is_authenticated %}請登入後才可留言{% else %}留言{% endif %}"></textarea>
							<button type="submit" {% if not request.user.is_authenticated %}disabled{% endif %} onclick="return re_comment('{{comment.id}}')" class="messageBtn signedIn">留言</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		</div>
		<!--合作品牌 start-->
		<!-- Place somewhere in the <body> of your page
		<div class="flexslider2">
		    <h3>合作品牌</h3>
		    <ul class="slides">
		        <li>
				    <div class="experImg"><img src="{% static "img/001.png"%}" /></div>
			    </li>
			    <li>
				    <div class="experImg"><img src="{% static "img/002.png"%}" /></div>
			    </li>
			    <li>
				    <div class="experImg"><img src="{% static "img/003.png"%}" /></div>
			    </li>
			    <li>
				    <div class="experImg"><img src="{% static "img/004.png"%}" /></div>
			    </li>
		    </ul>
		</div>
		合作品牌 End-->
		<!--電商 start-->
		<!-- Place somewhere in the <body> of your page
		<div class="flexslider3">
		  <h3>商城</h3>
		  <ul class="slides">
		    <li>
				<div class="experImg"><img src="{% static "img/001.jpg"%}" /></div>
			</li>
			<li>
				<div class="experImg"><img src="{% static "img/002.jpg"%}" /></div>
			</li>
			<li>
				<div class="experImg"><img src="{% static "img/003.jpg"%}" /></div>
			</li>
			<li>
				<div class="experImg"><img src="{% static "img/004.jpg"%}" /></div>
			</li>
		  </ul>
		</div>
		電商 End-->
	</div>
	<!--分享 start-->
	<div class="shareAreaBox"></div>
	<div class="shareArea animated">
		<div class="shareAreaCon">
			<ul>
				<div>分享至</div>
				<li>
					<a style="margin:0px 10px;" onclick="return share_facebook()"><img src="/static/img/fb_share.png" width="40" height="40" /></a>
				</li>
				<li>
					<a onclick="return share_line()"><img src="/static/img/line_share.png" width="40" /></a>
				</li>
				<li>
					<a id="copyLink" onclick="return copy_link();"><img src="/static/img/link.png" width="40" /></a>
				</li>
			</ul>
		</div>
	</div>
	<!--分享 End-->
	<!--其他功能 start-->
	<div class="shareArea1 animated">
		<div class="shareAreaCon">
			<ul>
				<div>其他</div>
				<li>
					<a style="margin:0px 10px;" href="/"><img src="/static/img/home.png" width="40" height="40" /></a>
				</li>
			</ul>

		</div>
	</div>
	<!--其他功能 End-->
	<div class="videoBottomBar">
		<div class="message">
			<div class="messageCon">
				<input id="comment_text" type="text" class="input1" {% if not request.user.is_authenticated %}disabled{% endif %} placeholder="{% if not request.user.is_authenticated %}請登入後才可留言{% else %}留言{% endif %}">
				<button {% if not request.user.is_authenticated %}disabled{% endif %} class="sendMessage" onclick="return comment();">傳送</button>
			</div>
		</div>
		<div class="like" id="bottom_like"  onclick="return like_video(true);"><img src="/static/img/like.png"></div>
		<div class="like" id="bottom_unlike" onclick="return unlike_video(true);" style="display:none;"><img src="/static/img/like_h.png"></div>
		<div class="share shareBox"><img src="/static/img/share_b.png"></div>
	</div>
</div>
	<script src="{% static "js/jquery.menu-aim.js"%}"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36251023-1']);
	  _gaq.push(['_setDomainName', 'jqueryscript.net']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--淡入淡出 start-->
    <script type="text/javascript">
    function f1(e){

	    //取消冒泡
	    e.cancelBubble = true;
	}
	function f2(e){
	    $(".shareBox1").css("z-index","-1");
	}
   $(".shareBox").click(function () {

   	event.preventDefault();
	 if ( $(".shareArea").hasClass( "slideInUp" )) {
	 		$(".shareArea").removeClass('slideInUp').addClass("slideOutDown");
	 		$(".shareAreaBox").fadeOut(200);
	    }else{
	    	$(".shareArea").removeClass('slideOutDown').addClass("slideInUp").show();
	    	$(".shareAreaBox").fadeIn(200);
	    }
	 });
   $(".dropDownList").click(function () {

   	event.preventDefault();
	 if ( $(".shareArea1").hasClass( "slideInUp" )) {
	 		$(".shareArea1").removeClass('slideInUp').addClass("slideOutDown");
	 		$(".shareAreaBox").fadeOut(200);
	    }else{
	    	$(".shareArea1").removeClass('slideOutDown').addClass("slideInUp").show();
	    	$(".shareAreaBox").fadeIn(200);
	    }
	 });
    /*影片內頁share start*/

	$('.shareAreaBox').click(function () {
	    $(".shareArea").removeClass('slideInUp').addClass("slideOutDown");
	    $(".shareArea1").removeClass('slideInUp').addClass("slideOutDown");
	 	$(".shareAreaBox").fadeOut(200);
	 });
	/*影片內頁share End*/

    </script>
  <!--淡入淡出 End-->
  	<!--標題手風琴 start-->
  	<script>
		$("#accordionBtn1").click(function(){
        	event.preventDefault();
			if($('.introductionBox').css('display') == 'none'){
			 	$(".introductionBox").show(500);
			 	$("#accordionBtn1").addClass("active");
				}else{
			  	$(".introductionBox").hide(500);
			  	$("#accordionBtn1").removeClass("active");
			}

		});
	</script>
  	<!--標題手風琴 End-->
  	<!--下方輪播 start-->
	<script defer src="{% static "js/jquery.flexslider.js"%}"></script>
	<div id="fb-root"></div>
	<script type="text/javascript">
	$(window).load(function(){
    	$('.flexslider').flexslider({
	        animation: "slide",
	        animationLoop: true,
	        itemWidth: 150,
	        itemMargin: 4,
	        minItems: 1,
	        maxItems: 3,
	        slideshowSpeed: 8000,
			keyboardNav: true,
	        start: function(slider){
	          $('body').removeClass('loading');
	        }
      	});
    });
	    // Can also be used with $(document).ready()

	$(window).load(function() {
	  $('.flexslider3').flexslider({
	    	animation: "slide",
	        animationLoop: true,
	        itemWidth: 150,
	        itemMargin: 0,
	        minItems: 3,
	        maxItems:5,
	        slideDirection:"vertical",
	        slideshowSpeed: 6000,
	  });
	});
  	</script>
  	<!--下方輪播 End-->
  	<!--取得影片高度 start
  	<script type="text/javascript">
  	$(function () {
		$(window).load(function(){
	    	var scrollVal = $(".videoBox").height();
	    $(".box2").css("margin-top",scrollVal+50);
	    $('a[href*=#]:not([href=#])').click(function() {
	       var target = $(this.hash);
	       $('html,body').animate({
	           scrollTop: target.offset().top-1.1*scrollVal
	       }, 1000);
	       return false;
	   	});
	    });
	    $(window).resize(function(){
	    	var scrollVal = $(".videoBox").height();
	    $(".box2").css("margin-top",scrollVal+50);
	    });
	    $(window).scroll(function() {
	    	var scrollVal = $(".videoBox").height();
	    	$(".box2").css("margin-top",scrollVal+50);
		});
	});
	</script>
	更多影片start-->
	<script>
	$(document).ready(function() {
    var data = {"data": [
	            { "src": "001.png" }, { "src": "002.png" }, { 	"src": "003.png" }, { "src": "004.png" }
	        ]};
	        var str = "";
	        $("#more1").click(function () {
	         for(var i = 0; i < data.data.length; i++) {
	        	var templ = "<li><a href=\"#\"><div class=\"videoListImgBox\"><img src=\"/static/img/"+data.data[i]['src']+"\" width=\"150\" /></div><div class=\"videoListTxtBox\"><h2>跟另一半玩遊戲，認真你就輸了-那對夫妻</h2><div class=\"viewQuanBox\"><i class=\"fa fa-eye\" aria-hidden=\"true\"></i><span>1,230</span></div></div></a></li>"
	        		$("#videoContBox").append(templ);


	        }
	        });
		});
	</script>
	<!--更多影片 End-->

	<!--切換播放視頻 start-->
	<script>
        $(function(){
		//视频
         $('.fancybox-media')
            .attr('rel', 'media-gallery')
            .fancybox({
                arrows : false,
                helpers : {
                    media : {},
                    buttons : {}
                },
                iframe : {
                    scrolling : 'no'
                },
            });
         });
    </script>
	<!--切換播放視頻 End-->
	<!--往下滑隱藏header start-->

	<!--往下滑隱藏header End-->
</body>