{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>roduct Details | Unify - Responsive Website Template</title>
<meta name="Keywords" content="那對夫妻">
<meta name="Description" content="那對夫妻">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
<!--匯入JSJQ -->
	<script src="{% static "js/jquery-1.8.2.min.js"%}"></script>
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/public.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/modernizr.js"%}"></script>
    <script src="{% static "js/headroom.js"%}"></script>
<!--匯入css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
<!--header隱藏css js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.js"></script>
    <style type="text/css">
		.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
		.headroom--unpinned {top: -100px;transform: translateY(-100%);}
		.headroom--pinned {transform: translateY(0%);z-index: 1;}
    }
	</style>
	<script type="text/javascript">
      	$("document").ready(function(){
     		 $("#header").headroom();
       	 });
    </script>

<!--header隱藏css js End-->
<!--header類別滑動效果 start-->
	<link rel="stylesheet" type="text/css" href="{% static "css/categorySlide.css"%}">
<!--header類別滑動效果 End-->
<!--share 彈窗 start-->
	<script src="https://cdn.jsdelivr.net/sweetalert2/6.4.0/sweetalert2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.4.0/sweetalert2.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.4.0/sweetalert2.css">
	<script src="https://cdn.jsdelivr.net/sweetalert2/6.4.0/sweetalert2.js"></script>
<!--share 彈窗 End-->
<!--你可能會喜歡 start-->
	<link rel="stylesheet" href="{% static "css/demo.css"%}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static "css/flexslider.css"%}" type="text/css" media="screen" />
<!--你可能會喜歡 End-->

<!--動畫效果 start-->
	<link rel="stylesheet" type="text/css" href="{% static "css/animate.css"%}">
<!--動畫效果 End-->
</head>

<body>
<div class="" none="ture">
	<header class="header animated" _height="none">
		<article class="topnav">
			<div class="cd-dropdown-wrapper">
				<a class="cd-dropdown-trigger top" href="#0">
					<span></span>
				</a>
			</div>
			<div class="logo">
				<a href="/index.html">
					<img class="top_logo" src="{% static "img/thecouple_webpage_logo.png"%}">
				</a>
			</div>
		</article>
		<div class="tabs fixed show-tab dark abgne_tab animated" fixed-tabs="#tv-tabs" ng-class="{'show-tab' : showTabs}" id="headerMenu">
	  		<a href="＃" target="_self" class="tab active">搞笑互整</a>
	  		<a href="＃" target="_self" class="tab">精選內容</a>
	  		<a href="＃" target="_self" class="tab">熱門點擊</a>
	  		<a href="＃" target="_self" class="tab">溫馨家庭</a>
	  		<a href="＃" target="_self" class="tab">最強小三</a>
		</div>
	</header>
	<!--nav start-->
	<div class="cd-dropdown-wrapper">
		<!--<a class="cd-dropdown-trigger" href="#0">Dropdown</a>-->
		<nav class="cd-dropdown">
			<h2>那對夫妻</h2>
			<a href="#0" class="cd-close">Close</a>
			<ul class="cd-dropdown-content">
				<li>
					<form class="cd-search" method="get">
						<input type="search" placeholder="Search..." class="searchlnput_text">
						<input class="searchlnput_bnt" name="" type="submit" value="">
					</form>
				</li>
				<li>
					<a href="login.html">登入</a>
				</li>
				<li style="display: none;">
					<a href="#">登出</a>
				</li>
				<li>
					<a href="register.html">註冊</a>
				</li>
				<li class="has-children">
					<a href="#">會員專區</a>
					<ul class="cd-secondary-dropdown is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li>
							<a href="member.html">會員資料</a>
						</li>
						<li>
							<a href="changePassword.html">修改密碼</a>
						</li>
					</ul> <!-- .cd-secondary-dropdown -->
				</li> <!-- .has-children -->
			</ul> <!-- .cd-dropdown-content -->
		</nav> <!-- .cd-dropdown -->
	</div> <!-- .cd-dropdown-wrapper -->
	<!--nav End-->

	<div class="container_default" _height="auto">
    <div class="videoBox videoBoxfixed">
	    <div class="video-container">
			<iframe src="https://www.youtube.com/embed/N1s6lzxTjIc" type="text/html" width="800" height="450" frameborder="0">
			</iframe>
		</div>
		<div class="videoDetBox1">
			<a class="videoDetBox1Img01" href="#speakBox"><img src="{% static "img/talk.png"%}" width="25" />評論：<span class="talkcount">80</span></a>
			<a class="videoDetBox1Img02" id="videoDetLikeBtn" href="#"><img src="{% static "img/star.png"%}" width="25"></a>
			<a class="videoDetBox1Img02 active" id="videoDetLikeBtn" href="#"><img src="{% static "img/star1.png"%}" width="25"></a>
			<a class="videoDetBox1Img03" id="share" href="#"><img src="{% static "img/share1.png"%}" width="25"></a>
		</div>
	</div>
	<div class="videoDetBox2">
		<div class="videoDetTitle active"><h1>《江苏卫视元宵晚会》全程</h1></div>
		<div class="videoDetTitdel active animated slideInDown"><h2>《江苏卫视元宵晚会》全程《江苏卫视元宵晚会》全程《江苏卫视元宵晚会》全程《江苏卫视元宵晚会》全程《江苏卫视元宵晚会》全程《江苏卫视元宵晚会》全程</h2></div>
		<div class="accordionBox"><a href="" class="accordionBtn active" id="accordionBtn"><img src="{% static "img/down.png"%}" width="30" /></a></div>
		<div class="hiddenBox" id="accordionBtn1"><span class="show"><i class="fa fa-angle-down" aria-hidden="true"></i>展開</span></div>
		<div class="vedioViewBox">
			<ul>
				<li>播放：<span>12</span>萬次</li>
				<li>類型：<span>看點</span></li>
				<li>地區：<span>台灣</span></li><br />
				<li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span>1,230</span></a></li>
				<li><a href=""><i class="fa fa-thumbs-o-down" aria-hidden="true"></i><span>12</span></a></li>
			</ul>
		</div>
	</div>
	<div class="videolistBox">
		<div class="videolistTitleBox">
			<div class="videolistBoxTitle"><h1>列表</h1></div>
			<div class="videolistBoxMore" id="more1">更多 > </div>
		</div>
		<ul id="videoContBox">
			<li>
				<a href="#">
					<div class="videoListImgBox"><img src="{% static "img/001.png"%}" width="150" /></div>
					<div class="videoListTxtBox"><h2>跟另一半玩遊戲，認真你就輸了-那對夫妻</h2>
						<div class="viewQuanBox">
							<i class="fa fa-eye" aria-hidden="true"></i>
							<span>1,230</span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="videoListImgBox"><img src="{% static "img/002.png"%}" width="150" /></div>
					<div class="videoListTxtBox"><h2>爸爸教妮妮學英文</h2>
						<div class="viewQuanBox">
							<i class="fa fa-eye" aria-hidden="true"></i>
							<span>1,230</span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="videoListImgBox"><img src="{% static "img/003.png"%}" width="150" /></div>
					<div class="videoListTxtBox"><h2>吃火鍋一定有香菇，但沒有藍瘦啦～</h2>
						<div class="viewQuanBox">
							<i class="fa fa-eye" aria-hidden="true"></i>
							<span>1,230</span>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="videoListImgBox"><img src="{% static "img/004.png"%}" width="150" /></div>
					<div class="videoListTxtBox"><h2>老公~~你喜歡我哪一點??</h2>
						<div class="viewQuanBox">
							<i class="fa fa-eye" aria-hidden="true"></i>
							<span>1,230</span>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="messageBox" id="speakBox">
		<div class="speakBox">
			<div class="speakBoxImg"><img src="{% static "img/people1.jpg"%}" width="40" /></div>
			<div class="messInputBox">
				<p class="notLoggedIn" style="margin-top: 15px;">欲留言請先<a href="#">登入</a></p>
				<textarea class="signedIn" placeholder="留言"></textarea>
				<button type="submit" class="messageBtn signedIn">留言</button>
			</div>
		</div>
		<div class="messageBox1">
			<div class="messageBox1Con">
				<div class="messageBox1Img"><img src="{% static "img/person-icon.png"%}" width="40" /></div>
				<div class="messageCon">
					<div class="messageConTitle"><h2>四川迷</h2><span class="categoryBox">熱門</span></div>
					<span class="timeBox">6天前</span>
					<p class="messageTxt">還滿好看的～還滿好看的～還滿好看的～還滿好看的～還滿好看的～</p>
					<div class="likeBox">
						<span class="likeBtn"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span class="likeQua">1,230</span></span>
						<span class="likeBtn"><i class="fa fa-commenting-o reply2" aria-hidden="true"></i><span class="likeQua">1</span></span>
					</div>
				</div>
			</div>
			<div class="messageBox1Con reply1">
				<div class="messageBox1Img"><img src="{% static "img/person-icon.png"%}" width="40" /></div>
				<div class="messageCon">
					<div class="messageConTitle"><h2>四川迷</h2><span class="categoryBox">熱門</span></div>
					<span class="timeBox">6天前</span>
					<p class="messageTxt">還滿好看的～還滿好看的～還滿好看的～還滿好看的～還滿好看的～</p>
					<div class="likeBox">
						<span class="likeBtn"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span class="likeQua">1,230</span></span>
					</div>
				</div>
			</div>
			<div class="messageBox reply1">
				<div class="speakBox">
					<div class="speakBoxImg"><img src="{% static "img/people1.jpg"%}" width="40" /></div>
					<div class="messInputBox">
						<textarea class="signedIn" placeholder="留言"></textarea>
						<button type="submit" class="messageBtn signedIn">留言</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--即時熱門 start-->
	<div class="flexslider1">
	  <h3>即時熱門</h3>
	  <ul class="slides">
	    <li>
	      	<a href=""><img src="{% static "img/001.png"%}" width="150"></a>
	    </li>
	    <li>
	      	<a href=""><img src="{% static "img/002.png"%}" width="150"></a>
	    </li>
	    <li>
	     	<a href=""><img src="{% static "img/003.png"%}" width="150"></a>
	    </li>
	    <li>
	      	<a href=""><img src="{% static "img/004.png"%}" width="150"></a>
	    </li>
	    <li>
	      	<a href=""><img src="{% static "img/001.png"%}" width="150"></a>
	    </li>
	    <li>
	      	<a href=""><img src="{% static "img/002.png"%}" width="150"></a>
	    </li>
	    <!--<li>
	      	<div class="videoImg"><img src="http://img.youtube.com/vi/d5ew0Hb0UQs/default.jpg" /></div>
	      	<div class="videoTitle">Nico品筠&Kim京燁 【那對夫妻】妮妮</div>
	    </li>
	    <li>
	      	<div class="videoImg"><img src="http://img.youtube.com/vi/pFiLART1tIE/default.jpg" /></div>
	      	<div class="videoTitle">妮妮為了爸爸跟Siri吵架</div>
	    </li>
	    <li>
	      	<div class="videoImg"><img src="http://img.youtube.com/vi/4Lqz6zi8A5w/default.jpg" /></div>
	      	<div class="videoTitle">跟另一半玩遊戲，認真你就輸了-那對夫妻</div>
	    </li>
	    <li>
	      	<div class="videoImg"><img src="http://img.youtube.com/vi/lrCucVkCsqQ/default.jpg" /></div>
	      	<div class="videoTitle">爸爸教妮妮學英文</div>
	    </li>-->
	  </ul>
	</div>
	<!--即時熱門 End-->
	<!--你可能會喜歡 start-->
	<div id="container" class="cf expertBox">
	<h3>你可能會喜歡</h3>
	<div id="main" role="main">
	    <section class="slider expertCon">
		  <div class="flexslider carousel expertArea">
		    <ul class="slides">
		    	<li>
	      			<a href=""><img src="{% static "img/001.png"%}" width="150"></a>
				    </li>
			    <li>
			      	<a href=""><img src="{% static "img/002.png"%}" width="150"></a>
			    </li>
			    <li>
			     	<a href=""><img src="{% static "img/003.png"%}" width="150"></a>
			    </li>
			    <li>
			      	<a href=""><img src="{% static "img/004.png"%}" width="150"></a>
			    </li>
			    <li>
			      	<a href=""><img src="{% static "img/001.png"%}" width="150"></a>
			    </li>
			    <li>
			      	<a href=""><img src="{% static "img/002.png"%}" width="150"></a>
			    </li>
		    </ul>
		  </div>
	    </section>
	</div>
    </div>
	<!--你可能會喜歡 End-->
	<!--合作品牌 start-->
	<!-- Place somewhere in the <body> of your page -->
	<div class="flexslider2">
	    <h3>合作品牌</h3>
	    <ul class="slides">
	        <li>
			    <div class="experImg"><img src="{% static "img/001.png"%}" /></div>
		    </li>
		    <li>
			    <div class="experImg"><img src="{% static "img/002.png"%}" /></div>
		    </li>
		    <li>
			    <div class="experImg"><img src="{% static "img/003.png"%}" /></div>
		    </li>
		    <li>
			    <div class="experImg"><img src="{% static "img/004.png"%}" /></div>
		    </li>
	    </ul>
	</div>
	<!--合作品牌 End-->
	<!--電商 start-->
	<!-- Place somewhere in the <body> of your page -->
	<div class="flexslider3">
	  <h3>相關商品</h3>
	  <ul class="slides">
	    <li>
			<div class="experImg"><img src="{% static "img/001.jpg"%}" /></div>
		</li>
		<li>
			<div class="experImg"><img src="{% static "img/002.jpg"%}" /></div>
		</li>
		<li>
			<div class="experImg"><img src="{% static "img/003.jpg"%}" /></div>
		</li>
		<li>
			<div class="experImg"><img src="{% static "img/004.jpg"%}" /></div>
		</li>
	  </ul>
	</div>
	<!--電商 End-->
	<!--分享 start-->
	</div>
	<div class="shareArea animated">
		<div class="shareAreaCon">
			<ul>
				<li>
					<a style="margin:0px 10px;" href="javascript: void(window.open('http://www.facebook.com/share.php?u='.concat(encodeURIComponent('http://nicokim.cc'))));"><img src="/static/img/fb_share.png" width="30" height="30" /></a>
				</li>
				<li>
					<a href="http://line.naver.jp/R/msg/text/?http://nicokim.cc"><img src="/static/img/line_share.png" width="30" /></a>
				</li>
				<li>

				</li>
				<li>

				</li>
			</ul>
		</div>
	</div>
	<!--分享 End-->
	<div class="under-nav" style="display: block;">
	    <ul>
		     <li><a href="#"><img src="{% static "img/index.png"%}" width="40" /></a><p>首頁</p></li>
		    <li><a href="#"><img src="{% static "img/cartIcon.png"%}" width="40" /></a><p>夫妻嚴選</p></li>
		    <li><a href="/main/index_video"><img src="{% static "img/videoActive.png"%}"  width="40" /></a><p class="active">影音專區</p></li>
		    <li><a href="#"><img src="{% static "img/aboutIcon.png"%}" width="40" /></a><p>關於我們</p></li>
	    </ul>
	</div>
	<footer _height="none">
		<ul>
			<li>copyright©那對夫妻nicokim.cc版權所有</li>
		</ul>
	</footer>
</div>
	<script src="{% static "js/jquery.menu-aim.js"%}"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36251023-1']);
	  _gaq.push(['_setDomainName', 'jqueryscript.net']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--淡入淡出 start-->
    <script type="text/javascript">
    function f1(e){

	    //取消冒泡
	    e.cancelBubble = true;
	}
	function f2(e){
	    $(".shareBox1").css("z-index","-1");
	}
   $("#share").click(function () {

   	event.preventDefault();
	 if ( $(".shareArea").hasClass( "slideInUp" )) {
	 		$(".shareArea").removeClass('slideInUp').addClass("slideOutDown");
	    }else{
	    	$(".shareArea").removeClass('slideOutDown').addClass("slideInUp").show();
	    }
	 });

    </script>
  <!--淡入淡出 End-->
  	<!--標題手風琴 start-->
  	<script>
  		$("#accordionBtn").click(function(){
        	event.preventDefault();
        	 if ( $(".videoDetTitle").find("h1").hasClass( "active" ) ) {
				 	$(".videoDetTitle").find("h1").removeClass('active');
				 	$(".accordionBtn").addClass('active');
			    }else{
			    	$(".videoDetTitle").find("h1").addClass('active');
			    	$(".accordionBtn").removeClass('active');
			    }

		});
		$("#accordionBtn1").click(function(){
        	event.preventDefault();
			 if ( $(".videoDetTitdel").find("h2").hasClass( "active" ) ) {
				 	$(".videoDetTitdel").find("h2").removeClass('active');
				 	$('.hiddenBox').empty();
			    	$( ".hiddenBox" ).append("<span class=\"show\"><i class=\"fa fa-angle-down\" aria-hidden=\"true\"></i>展開</span>");
			    	$( ".videoDetTitdel" ).find("h2").addClass("box-close").removeClass("box-open");
			    }else{
			    	$(".videoDetTitdel").find("h2").addClass('active');
			    	$( ".hidden" ).css("display","block");
			    	$('.hiddenBox').empty();
			    	$( ".hiddenBox" ).append("<span class=\"hidden\"><i class=\"fa fa-angle-up\" aria-hidden=\"true\"></i>收起</span>");
			    	$( ".videoDetTitdel" ).find("h2").addClass("box-open").removeClass("box-close");


			    }

		});
	</script>
  	<!--標題手風琴 End-->
  	<!--下方輪播 start-->
	<script defer src="{% static "js/jquery.flexslider.js"%}"></script>
	<div id="fb-root"></div>
	<script type="text/javascript">
	$(window).load(function(){
    	$('.flexslider').flexslider({
	        animation: "slide",
	        animationLoop: true,
	        itemWidth: 150,
	        itemMargin: 4,
	        minItems: 1,
	        maxItems: 3,
	        slideshowSpeed: 8000,
			keyboardNav: true,
	        start: function(slider){
	          $('body').removeClass('loading');
	        }
      	});
    });
	    // Can also be used with $(document).ready()
	$(window).load(function() {
	  $('.flexslider1').flexslider({
	    	animation: "slide",
	        animationLoop: true,
	        itemWidth: 150,
	        itemMargin: 5,
	        minItems: 1,
	        maxItems: 3,
	        slideshowSpeed: 10000,
			keyboardNav: true,
	        start: function(slider){
	          $('body').removeClass('loading');
	        }
	  });
	});
	$(window).load(function() {
	  $('.flexslider2').flexslider({
	    	animation: "slide",
	        animationLoop: true,
	        itemWidth: 150,
	        itemMargin: 0,
	        minItems: 2,
	        maxItems:3,
	        slideDirection:"vertical",
	        slideshowSpeed: 2000,
	  });
	});
	$(window).load(function() {
	  $('.flexslider3').flexslider({
	    	animation: "slide",
	        animationLoop: true,
	        itemWidth: 150,
	        itemMargin: 0,
	        minItems: 3,
	        maxItems:5,
	        slideDirection:"vertical",
	        slideshowSpeed: 6000,
	  });
	});
  	</script>
  	<!--下方輪播 End-->
  	<!--取得影片高度 start-->
  	<script type="text/javascript">
  	$(function () {
		$(window).load(function(){
	    	var scrollVal = $(".videoBox").height()+70;
	    $(".videoDetBox2").css("margin-top",scrollVal+25);
	    });
	    $(window).resize(function(){
	    	var scrollVal = $(".videoBox").height()+70;
	    $(".videoDetBox2").css("margin-top",scrollVal+25);
	    });
	    $(window).scroll(function() {
	    	var scrollVal = $(".videoBox").height()+70;
	    	$(".videoDetBox2").css("margin-top",scrollVal+25);
		});
	});
	</script>
	<!--更多影片start-->
	<script>
	$(document).ready(function() {
    var data = {"data": [
	            { "src": "001.png" }, { "src": "002.png" }, { 	"src": "003.png" }, { "src": "004.png" }
	        ]};
	        var str = "";
	        $("#more1").click(function () {
	         for(var i = 0; i < data.data.length; i++) {
	        	var templ = "<li><a href=\"#\"><div class=\"videoListImgBox\"><img src=\"/static/img/"+data.data[i]['src']+"\" width=\"150\" /></div><div class=\"videoListTxtBox\"><h2>跟另一半玩遊戲，認真你就輸了-那對夫妻</h2><div class=\"viewQuanBox\"><i class=\"fa fa-eye\" aria-hidden=\"true\"></i><span>1,230</span></div></div></a></li>"
	        		$("#videoContBox").append(templ);


	        }
	        });
		});
	</script>
	<!--更多影片 End-->
	<!--往下滑隱藏header start-->
	<script type="text/javascript">
		/*var $ViewportHeight=$(window).height();
		//偵測目前捲軸頂點
		var ScrollTop=$(this).scrollTop();
		var bodyClass = document.body.classList,
	    lastScrollY = 0;*/
		window.addEventListener('scroll', function(){
		  var st = this.scrollY;
		  // 判斷是向上捲動，而且捲軸超過 200px

		  if(st<5) {
		    $("#headerMenu",".header").addClass("slideInDown").removeClass("slideOutUp");
		    $(".header").addClass("slideInDown").removeClass("slideOutUp");
		    $(".videoBoxfixed").removeClass("videoTop");
		    //$("#headerMenu").addClass("slideInDown");

		  }else{
		    //$("#headerMenu").addClass("slideInDown");
		    $(".videoBoxfixed").addClass("videoTop");
		    $("#headerMenu",".header").addClass("slideOutUp").removeClass("slideInDown");
		    $(".header").addClass("slideOutUp").removeClass("slideInDown");
		  }
		  lastScrollY = st;
		});
	</script>
	<!--往下滑隱藏header End-->
</body>