{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>roduct Details | Unify - Responsive Website Template</title>
<meta name="Keywords" content="那對夫妻">
<meta name="Description" content="那對夫妻">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
<!--匯入JSJQ -->
	<script src="{% static "js/jquery-1.8.2.min.js"%}"></script>
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/modernizr.js"%}"></script>
    <script src="{% static "js/headroom.js"%}"></script>
    <script src="{% static "js/jquery.menu-aim.js"%}"></script>
<!--匯入css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
<!--header隱藏css js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.js"></script>
    <style type="text/css">
		.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
		.headroom--unpinned {top: -100px;transform: translateY(-100%);}
		.headroom--pinned {transform: translateY(0%);z-index: 1;}
    }
	</style>
<!--header隱藏css js End-->
<!--彈窗使用css js start-->
	<link rel="stylesheet" href="{% static "css/jquery.sweet-modal.min.css"%}" />
	<script src="{% static "js/jquery.sweet-modal.min.js"%}"></script>
<!--彈窗使用css js End-->
<!--撐開頁面使用 start-->
	<script src="{% static "js/minwt.auto_full_height.mini.js"%}"></script>
<!--撐開頁面使用 End-->
</head>

<body>
<div class="" none="ture">
	<header class="header" _height="none">
		<article class="topnav">
			<div class="cd-dropdown-wrapper">
				<a class="cd-dropdown-trigger top" href="#0">
					<span></span>
				</a>
			</div>
			<div class="logo">
				<a href="/main/index">
					<img class="top_logo" src="{% static "img/thecouple_webpage_logo.png"%}">
				</a>
			</div>
		</article>
	</header>
	<!--nav start-->
	<div class="cd-dropdown-wrapper">
		<!--<a class="cd-dropdown-trigger" href="#0">Dropdown</a>-->
		<nav class="cd-dropdown">
			<h2>那對夫妻</h2>
			<a href="#0" class="cd-close">Close</a>
			<ul class="cd-dropdown-content">
				<li>
					<form class="cd-search" method="get">
						<input type="search" placeholder="Search..." class="searchlnput_text">
						<input class="searchlnput_bnt" name="" type="submit" value="">
					</form>
				</li>
				{% if request.user.is_authenticated %}
					<li>
						<a href="/account/user_logout/">登出</a>
					</li>
				{% else%}
					<li>
						<a href="/main/login/">登入</a>
					</li>
				{% endif %}
				<li>
					<a href="/main/register/">註冊</a>
				</li>
				<li class="has-children">
					<a href="#">會員專區</a>
					<ul class="cd-secondary-dropdown is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li>
							<a href="/main/member/">會員資料</a>
						</li>
						<li>
							<a href="/main/change_password/">修改密碼</a>
						</li>
					</ul> <!-- .cd-secondary-dropdown -->
				</li> <!-- .has-children -->
			</ul> <!-- .cd-dropdown-content -->
		</nav> <!-- .cd-dropdown -->
	</div> <!-- .cd-dropdown-wrapper -->
	<!--nav End-->

	<div class="container" _height="auto">
		<div class="orderRecordBox">
			<h1>影片瀏覽紀錄</h1>
			<div class="orRecContBox videoViewListBox">
				<ul id="videoContBox">
					<li>
						<a href="/main/videoDetails/?video_id=3">
							<div class="videoListImgBox"><img src="/static/media/main/video_pre_image/video002_1.png" width="150"></div>
							<div class="videoListTxtBox"><h2>測試影片</h2>
								<div class="viewQuanBox">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>27</span>
								</div>
							</div>
						</a>
					</li>

					<li>
						<a href="/main/videoDetails/?video_id=4">
							<div class="videoListImgBox"><img src="/static/media/main/video_pre_image/video003.png" width="150"></div>
							<div class="videoListTxtBox"><h2>妮妮的甜蜜攻勢-那對夫妻</h2>
								<div class="viewQuanBox">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>44</span>
								</div>
							</div>
						</a>
					</li>

					<li>
						<a href="/main/videoDetails/?video_id=5">
							<div class="videoListImgBox"><img src="/static/media/main/video_pre_image/video002.png" width="150"></div>
							<div class="videoListTxtBox"><h2>那對夫妻《妮妮》官方60秒MV</h2>
								<div class="viewQuanBox">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>5</span>
								</div>
							</div>
						</a>
					</li>

					<li>
						<a href="/main/videoDetails/?video_id=6">
							<div class="videoListImgBox"><img src="/static/media/main/video_pre_image/video001.png" width="150"></div>
							<div class="videoListTxtBox"><h2>那對夫妻-妮妮</h2>
								<div class="viewQuanBox">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>1</span>
								</div>
							</div>
						</a>
					</li>

					<li>
						<a href="/main/videoDetails/?video_id=7">
							<div class="videoListImgBox"><img src="/static/media/main/video_pre_image/video001_3.png" width="150"></div>
							<div class="videoListTxtBox"><h2>史上最有創意妮妮自創PPAP-那對夫妻</h2>
								<div class="viewQuanBox">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>0</span>
								</div>
							</div>
						</a>
					</li>

					<li>
						<a href="/main/videoDetails/?video_id=8">
							<div class="videoListImgBox"><img src="/static/media/main/video_pre_image/video001_4.png" width="150"></div>
							<div class="videoListTxtBox"><h2>妮妮為了爸爸跟Siri吵架</h2>
								<div class="viewQuanBox">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>1</span>
								</div>
							</div>
						</a>
					</li>

					<li>
						<a href="/main/videoDetails/?video_id=9">
							<div class="videoListImgBox"><img src="/static/media/main/video_pre_image/video002_3.png" width="150"></div>
							<div class="videoListTxtBox"><h2>爸爸拿蟑螂嚇妮妮，妮妮拿江郎嚇媽媽～</h2>
								<div class="viewQuanBox">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>0</span>
								</div>
							</div>
						</a>
					</li>
				</ul>
				<a class="clearView" style="margin-top:15px;">清除瀏覽紀錄</a>
			</div>
		</div>
	</div>
	<!--<div class="under-nav">
	    <a href="#" class="inner-nav  icon-basket"></a>
	    <a aria-hidden="true" href="#" class="inner-nav icon-social-youtube"></a><a href="#" aria-hidden="true" class="inner-nav icon-feed"></a>
	    <a href="#" aria-hidden="true" class="inner-nav icon-list"></a>
	</div>-->
	<footer _height="none">
		<ul>
			<li>超人氣娛樂股份有限公司</li>
			<li>02-7709-5168</li>
			<li><a href="mailto:service@supermedia.cool">service@supermedia.cool</a></li>
			<li>copyright©那對夫妻nicokim.cc版權所有</li>
		</ul>
	</footer>
</body>