{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>roduct Details | Unify - Responsive Website Template</title>
<meta name="Keywords" content="那對夫妻">
<meta name="Description" content="那對夫妻">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
<!--匯入JSJQ -->
	<script src="{% static "js/jquery-1.8.2.min.js"%}"></script>
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
    <script src="{% static "js/modernizr.js"%}"></script>
    <script src="{% static "js/headroom.js"%}"></script>
    <script src="{% static "js/jquery.menu-aim.js"%}"></script>
<!--匯入css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
<!--header隱藏css js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/headroom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.9.3/jQuery.headroom.js"></script>
    <style type="text/css">
		.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
		.headroom--unpinned {top: -100px;transform: translateY(-100%);}
		.headroom--pinned {transform: translateY(0%);z-index: 1;}
    }
	</style>
<!--header隱藏css js End-->
<!--彈窗使用css js start-->
	<link rel="stylesheet" href="{% static "css/jquery.sweet-modal.min.css"%}" />
	<script src="{% static "js/jquery.sweet-modal.min.js"%}"></script>
<!--彈窗使用css js End-->
<!--撐開頁面使用 start-->
	<script src="{% static "js/minwt.auto_full_height.mini.js"%}"></script>
<!--撐開頁面使用 End-->
</head>

{% if not is_mobile %}
<body>
<div class="" none="ture">
	<header class="header" _height="none">
		<script src="{% static "js/mHeader.js"%}"></script>
	</header>
	<!--nav start-->
	<div class="cd-dropdown-wrapper">
		<!--<a class="cd-dropdown-trigger" href="#0">Dropdown</a>-->
		<nav class="cd-dropdown">
			<h2>那對夫妻</h2>
			<a href="#0" class="cd-close">Close</a>
			<ul class="cd-dropdown-content">
				<li>
					<form class="cd-search" method="get">
						<input type="search" placeholder="Search..." class="searchlnput_text">
						<input class="searchlnput_bnt" name="" type="submit" value="">
					</form>
				</li>
				{% if request.user.is_authenticated %}
					<li>
						<a href="/account/user_logout/">登出</a>
					</li>
				{% else%}
					<li>
						<a href="/main/login/">登入</a>
					</li>
				{% endif %}
				<li>
					<a href="/main/register/">註冊</a>
				</li>
				<li class="has-children">
					<a href="#">會員專區</a>
					<ul class="cd-secondary-dropdown is-hidden">
						<li class="go-back"><a href="#0">Menu</a></li>
						<li>
							<a href="/main/member/">會員資料</a>
						</li>
						<li>
							<a href="/main/change_password/">修改密碼</a>
						</li>
						<li>
							<a href="/main/order_record/">歷史訂購</a>
						</li>
						<li>
							<a href="/main/view_record/">商品瀏覽紀錄</a>
						</li>
						<li>
							<a href="/main/video_viewRecord/">影片瀏覽紀錄</a>
						</li>
						<li>
							<a href="/main/message_list/">信息通知</a>
						</li>
					</ul> <!-- .cd-secondary-dropdown -->
				</li> <!-- .has-children -->
			</ul> <!-- .cd-dropdown-content -->
		</nav> <!-- .cd-dropdown -->
	</div> <!-- .cd-dropdown-wrapper -->
	<!--nav End-->

	<div class="container" _height="auto">
		<div class="orderRecordBox">
			<h1>商品瀏覽紀錄</h1>
			<div class="orRecContBox">
				<ul class="orRecCont">
					<li>
						<div class="orRecContImg"><img src="{% static "img/product1.png"%}" width="95" /></div>
						<div class="productItem1">
							<h3>超優惠馬卡龍禮盒</h3>
							<div class="quantityPrice">
								<p class="priceBox">NT$<span class="price">10</span></p>
								<a href="#" class="putInCart">放入購物車</a>
							</div>
						</div>
					</li>
					<li>
						<div class="orRecContImg"><img src="{% static "img/product1.png"%}" width="95" /></div>
						<div class="productItem1">
							<h3>超優惠馬卡龍禮盒</h3>
							<div class="quantityPrice">
								<p class="priceBox">NT$<span class="price">10</span></p>
								<a href="#" class="putInCart">放入購物車</a>
							</div>
						</div>
					</li>
					<li>
						<div class="orRecContImg"><img src="{% static "img/product1.png"%}" width="95" /></div>
						<div class="productItem1">
							<h3>超優惠馬卡龍禮盒</h3>
							<div class="quantityPrice">
								<p class="priceBox">NT$<span class="price">10</span></p>
								<a href="#" class="putInCart">放入購物車</a>
							</div>
						</div>
					</li>
				</ul>
				<a class="clearView">清除瀏覽紀錄</a>
			</div>
		</div>
	</div>
	<!--<div class="under-nav">
	    <a href="#" class="inner-nav  icon-basket"></a>
	    <a aria-hidden="true" href="#" class="inner-nav icon-social-youtube"></a><a href="#" aria-hidden="true" class="inner-nav icon-feed"></a>
	    <a href="#" aria-hidden="true" class="inner-nav icon-list"></a>
	</div>-->
	<footer _height="none">
		<script src="{% static "js/mFooter.js"%}"></script>
	</footer>
</body>
{% else %}
<body>
	<div class="pWrap">
		<header class="pHeader">
			<div class="pTopBox">
				<div class="pTopBox1">
					<div class="pTop1Box1">
						<ul class="pTop1Cont">
							<li><i class="fa fa-info-circle" aria-hidden="true"></i>關於我們</li>
							<li><i class="fa fa-shopping-bag" aria-hidden="true"></i>購物商城</li>
							<li><i class="fa fa-video-camera" aria-hidden="true"></i>影音專區</li>
						</ul>
					</div>
					<div class="pLoginBox"><span class="logInBtn"><a href="/main/login/">登入</a></span>/<span class="logOutBtn"><a href="/main/register/">註冊</a></span></div>
					<div class="pLogoutBox">
						<ul class="pNavLogoutBox">
							<li><a href="/main/member/"><img src="{% static "img/person-icon.png"%}" width="40"></a><span class="logOutBtn"><i class="fa fa-caret-down" aria-hidden="true"></i></span></li>
						</ul>
						<div class="pLogOutList">
							<ul class="drop-down-menu">
						        <li><a href="#">會員專區</a></li>
						        <li><a href="#">修改密碼</a></li>
						        <li><a href="#">登出</a></li>
						    </ul>
						</div>
					</div>

				</div>
			</div>
			<div class="pLogoSearchBox">
				<div class="pLogoBox">
					<img src="{% static "img/thecouple_webpage_logo.png"%}" width="150">
				</div>
				<div class="pSearchBox">
					<div class="psearchCon"><input class="pSearchBar" type="text" /><div class="pSearchIcon"><i class="fa fa-search" aria-hidden="true"></i></div></div>
					<div class="pHotTxtBox">
						<span class="pHotTxtTitle">熱門</span>
						<ul class="pHotTxtItem">
							<li>可愛</li>
							<li>惡搞</li>
							<li>妮妮</li>
							<li>砸派機</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<nav class="pNavBox">
			<div class="pNavCon">
				<ul class="pNavConDet">
					<li class="active">最新發表</li>
					<li>即時熱門</li>
					<li>品牌合作</li>
					<li>即興惡搞</li>
					<li>無地放閃</li>
					<li>親子家庭</li>
					<li>生活影片</li>
					<li>親子教育</li>
					<li>趣味搞笑</li>
					<li>娛樂趣味</li>
				</ul>
			</div>
		</nav>
		<article>
			<div class="breadCrumbs">
				<a class="home" href="/"><i class="fa fa-home" aria-hidden="true" style="color:#e18293;"></i></a>
				<strong>&gt;</strong>
				<span class="current">會員中心</span>
			</div>
			<div class="pMemberBox">
				<div class="pMemberTitBox">
					<h1 class="pMemberTitCon">會員中心</h1>
				</div>
				<div class="pMemberTab">
					<ul>
						<li><a href="#">基本資料</a></li><span class="separateLine">|</span>
						<li><a href="#">歷史紀錄</a></li><span class="separateLine">|</span>
						<li class="active"><a href="#">商品瀏覽紀錄</a></li><span class="separateLine">|</span>
						<li><a href="#">影片瀏覽紀錄</a></li><span class="separateLine">|</span>
						<li><a href="#">訊息通知</a></li>
					</ul>
				</div>
				<div class="pMemberDateBox">
					<div class="pMemberDateTit pViewTit">
						<h2>商品瀏覽紀錄</h2>
					</div>
					<div class="pMemberDateCon">
						<div class="orderRecordBox">
							<div class="orRecContBox">
								<ul class="orRecCont">
									<li>
										<div class="orRecContImg"><img src="{% static "img/product1.png"%}" width="95" /></div>
										<div class="productItem1">
											<h3>超優惠馬卡龍禮盒</h3>
											<div class="quantityPrice">
												<p class="priceBox">NT$<span class="price">10</span></p>
												<a href="#" class="putInCart">放入購物車</a>
											</div>
										</div>
									</li>
									<li>
										<div class="orRecContImg"><img src="{% static "img/product1.png"%}" width="95" /></div>
										<div class="productItem1">
											<h3>超優惠馬卡龍禮盒</h3>
											<div class="quantityPrice">
												<p class="priceBox">NT$<span class="price">10</span></p>
												<a href="#" class="putInCart">放入購物車</a>
											</div>
										</div>
									</li>
									<li>
										<div class="orRecContImg"><img src="{% static "img/product1.png"%}" width="95" /></div>
										<div class="productItem1">
											<h3>超優惠馬卡龍禮盒</h3>
											<div class="quantityPrice">
												<p class="priceBox">NT$<span class="price">10</span></p>
												<a href="#" class="putInCart">放入購物車</a>
											</div>
										</div>
									</li>
								</ul>
								<a class="clearView">清除瀏覽紀錄</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</article>
		<div class="pFloatLeftSahre">
			<div class="pLeftShareBox">
				<ul>
					<li><a onclick="return share_facebook()"><img src="/static/img/facebook_color.png" width="40" height="40" /></a></li>
					<li><a onclick="return share_line()"><img src="/static/img/line_color.png" width="40" /></a></li>
				</ul>
			</div>
		</div>

		<footer class="pFooter">
			<script src="{% static "js/pFooter.js"%}"></script>
		</footer>
	</div>
</body>

{% endif %}