@charset "utf-8";	
/* 載入 */
@media screen and (max-width:767px){
.container_default {
    margin-top: 17px;
}
.container_defaultProduct{
   margin-top: -18px; 
}
.shop{
    margin-top: -18px;
}
}
@media screen and (max-width:640px){
.forgetPassCon .inputW,.changePasswordBox .inputW{
	min-width:50px;
}
}
@media screen and (max-width:440px){
.container .memberBox .sky-form .col-sm-6 section input{
    width: 80%;
    margin-left: 3%;
}
.container .memberBox .sky-form .select .form-control{
    width: 80%;
    margin-left: 3%;
}
.container .memberBox .sky-form .changePasswordBox .col-sm-6 section input{
    width:70%;
 }
.addressBox{
    width:80%;
    margin-left: 2%
}
#twzipcode, .addressText{
    margin-left: 1%;
}
.container .memberBox .sky-form .brithday{
    width: 80%;
    margin-left: 3%;
}
}