@charset "utf-8";
/* 載入 */
@media screen and (max-width:767px){
.container_default {
    margin-top: 17px;
}
.container_defaultProduct{
   margin-top: -18px;
}
.shop{
    margin-top: -18px;
}
.container_cart{
    margin-top: 0px;
}
.container_cart .cartConBox .invoiceBox input[type="text"]{
    padding: 20px;
    width: 85%;
    border: 1px solid #e8e8e8;
    margin:0px 0px 15px 0px;
}
.container_cart .cartConBox .invoiceBox #love_code_div a{
    right: 5%;
}
.container_default .videoBoxfixed{
    margin-top:0px;
}
}
@media screen and (max-width:640px){
.forgetPassCon .inputW,.changePasswordBox .inputW{
	min-width:50px;
}
.container_cart .cartConBox .invoiceBox input[type="text"]{
    width: 75%;
}
.container_cart .cartConBox .invoiceBox #love_code{
    width: 75%;
}
.container_cart .cartConBox .invoiceBox #love_code_div a{
    right: 12%;
}
.container_default .videolistBox ul li .videoListTxtBox{
    width: 60%;
    font-size: 16px;
}
.container_default .messageBox .messInputBox{
    width: 85%;
}
}
@media screen and (max-width:440px){
.container .memberBox .sky-form .col-sm-6 section input{
    width: 80%;
    margin-left: 3%;
}
.container .memberBox .sky-form .select .form-control{
    width: 80%;
    margin-left: 3%;
}
.container .memberBox .sky-form .changePasswordBox .col-sm-6 section input{
    width:70%;
 }
.addressBox{
    width:80%;
    margin-left: 2%
}
#twzipcode, .addressText{
    margin-left: 1%;
}
.container .memberBox .sky-form .brithday{
    width: 80%;
    margin-left: 3%;
}
.container_cart .cartConBox .shopDate .shopTotalBox{
    width: 77%;
}
.container_cart .cartConBox .sky-form .col-sm-6 section input{
    width: 80%;
    margin-left: 3%;
}
.container_cart .cartConBox .sky-form .select .form-control{
    width: 80%;
    margin-left: 3%;
}
.container_cart .cartConBox .invoiceBox input[type="text"]{
    padding: 20px;
    width: 68%;
    border: 1px solid #e8e8e8;
    margin:0px 0px 15px 0px;
}
.container_cart .cartConBox .invoiceBox #love_code{
    width: 68%;
}
.container_cart .cartConBox .invoiceBox #love_code_div a{
    right: 12%;
}
.container_default .videolistBox ul li .videoListTxtBox{
    width: 55%;
    font-size: 16px;
}
.container_default .messageBox .messInputBox{
    width: 80%;
}
}
@media screen and (max-width:400px){
.container .memberBox .sky-form .forgetPassCon .col-sm-6 section input{
    width:75%;
}
.container .memberBox .forgetpassBox .clearBtn{
    width:60px;
}
.sky-form .forgetPassCon .changeBtn{
    width:60px;
}
.container_default .videoBox1 .videoCont li{
    width: 100%;
    margin:0px 0%;
}
.container_default .videoBox1 .videoCont li:nth-child(even){
    margin:0px;
}
.container_default .videoBox1 .videoCont li:nth-child(odd){
    margin:0px;
}
.container_default .videolistBox ul li .videoListTxtBox{
    font-size: 14px;
}
.container_default .messageBox1 .messageBox1Con .messageCon{
    width: 70%;
}
.container_default .videolistBox ul li .videoListTxtBox{
    width: 50%;
    font-size: 16px;
}
}
@media screen and (max-width:340px){
.container_default .videolistBox ul li .videoListTxtBox{
    width: 55%;
}
.container_default .videolistBox .videoListImgBox img{
    width: 120px !important;
}
}
@media screen and (max-width:320px){
{
    right: 5%;
}
}
